workflows/brain-test-harness.json
{
  "name": "Operator: Shared Brain Test Harness",
  "nodes": [
    {
      "parameters": {
        "content": "# Test the brain without Instagram, Telegram, or WhatsApp\n\nPOST JSON to the production webhook with header `x-admin-token`. Reuse the same `external_user_id` and `channel_conversation_id` to test memory across turns.\n\nThis harness calls the exact same Brain API contract as every channel. It is an operator surface, not a second chatbot implementation.",
        "width": 620,
        "height": 270,
        "color": 5
      },
      "id": "57a1b8b6-6d27-42c5-a0ad-b08c5c5272c7",
      "name": "READ ME - Channel-Free Testing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -850,
        -300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brain-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca65d9a9-6020-4e58-a4f2-e7269fb42c3a",
      "name": "Brain Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        180
      ],
      "webhookId": "ecd83cc8-e0a3-4be5-a926-4adbb830594c"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst supplied = headers['x-admin-token'] ?? headers['X-Admin-Token'];\nif (!$env.BRAIN_ADMIN_TOKEN || supplied !== $env.BRAIN_ADMIN_TOKEN) throw new Error('Unauthorized');\nreturn [{ json: $json.body ?? {} }];"
      },
      "id": "c76b28b5-2b8f-403e-ad1a-15d085490ad2",
      "name": "Authenticate Test Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nif (!body.text || typeof body.text !== 'string') throw new Error('text is required');\nreturn [{ json: {\n  tenant_key: body.tenant_key || $env.BRAIN_TENANT_KEY || 'default',\n  channel: body.channel || 'internal_test',\n  external_user_id: String(body.external_user_id || 'scenario-user'),\n  channel_conversation_id: String(body.channel_conversation_id || body.external_user_id || 'scenario-thread'),\n  external_message_id: String(body.external_message_id || ('manual-' + Date.now())),\n  text: body.text,\n  metadata: { test_run: true, ...(body.metadata ?? {}) },\n} }];"
      },
      "id": "4d427536-80b9-40e9-a6e2-be78047845e2",
      "name": "Normalize Test Turn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "00301a4e-fcca-4940-a882-60855f937f8b",
      "name": "Call Shared Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "cdd03fb2-958f-4a6c-aa83-b3e8d08045b4",
      "name": "Return Brain Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        300,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Brain Test Webhook": {
      "main": [
        [
          {
            "node": "Authenticate Test Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Test Request": {
      "main": [
        [
          {
            "node": "Normalize Test Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Test Turn": {
      "main": [
        [
          {
            "node": "Call Shared Brain API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared Brain API": {
      "main": [
        [
          {
            "node": "Return Brain Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "279c2941-feea-4674-a872-9a8fe98edf90",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
