workflows/channel-telegram.json
{
  "name": "Channel Adapter: Telegram -> Shared Brain",
  "nodes": [
    {
      "parameters": {
        "content": "# Telegram transport only\n\nAttach one Telegram credential to both Telegram nodes. The shared Brain API owns all language, memory, RAG, sales/support behavior, and escalation decisions.\n\nRequired runtime values: `BRAIN_API_URL`, `BRAIN_API_TOKEN`, `BRAIN_TENANT_KEY`.\n\nNo company content belongs in this workflow. Keep it inactive in the public template.",
        "width": 600,
        "height": 290,
        "color": 5
      },
      "id": "41961481-fc79-4bcb-a6cb-605057e6ac5c",
      "name": "READ ME - Native Telegram Adapter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "id": "97983ccc-dbe1-480f-a998-1901ee1ed47a",
      "name": "Telegram Trigger",
      "type": [
        -800,
        220
      ],
      "typeVersion": 1.2,
      "position": "n8n-nodes-base.telegramTrigger"
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message ?? $json.edited_message;\nif (!message?.text || message.from?.is_bot) return [];\nreturn [{ json: {\n  tenant_key: $env.BRAIN_TENANT_KEY || 'default',\n  channel: 'telegram',\n  external_user_id: String(message.from.id),\n  channel_conversation_id: String(message.chat.id),\n  external_message_id: String(message.message_id),\n  text: String(message.text),\n  metadata: { username: message.from.username ?? null, first_name: message.from.first_name ?? null },\n} }];"
      },
      "id": "0f110af7-9241-4c6c-a317-55d0ca92f946",
      "name": "Normalize Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -530,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c23a658d-9b29-4959-abc2-89be01affdfe",
      "name": "Call Shared Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.should_send || typeof $json.reply_text !== 'string' || !$json.reply_text.trim()) return [];\nreturn [{ json: $json }];"
      },
      "id": "2b4afae6-b4ca-43ba-a55c-420bb9445236",
      "name": "Operational Send Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        220
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $node[\"Normalize Telegram Message\"].json.channel_conversation_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e605b7d9-3897-4542-addc-13c810faebbf",
      "name": "Send Telegram Reply",
      "type": [
        280,
        220
      ],
      "typeVersion": 1.2,
      "position": "n8n-nodes-base.telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Message": {
      "main": [
        [
          {
            "node": "Call Shared Brain API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared Brain API": {
      "main": [
        [
          {
            "node": "Operational Send Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operational Send Guard": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "36f0526b-b4fa-4a80-a115-b1fafa043a17",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
