workflows/channel-instagram.json
{
  "name": "Channel Adapter: Instagram -> Shared Brain",
  "nodes": [
    {
      "parameters": {
        "content": "# Instagram transport only\n\nThis workflow does not contain company knowledge, sales policy, memory, RAG, or semantic routing. It only verifies Meta, normalizes an inbound event, calls the Shared Brain API, and delivers a permitted response.\n\nRequired runtime values: `IG_WEBHOOK_VERIFY_TOKEN`, `IG_ACCESS_TOKEN`, `IG_MESSAGES_ENDPOINT`, `BRAIN_API_URL`, `BRAIN_API_TOKEN`, `BRAIN_TENANT_KEY`.\n\nSet the Meta callback to the production webhook URL only after credentials are configured. Keep this workflow inactive in the public template.",
        "width": 620,
        "height": 330,
        "color": 5
      },
      "id": "92f237cb-7640-4e4b-a49b-1491024d2aa2",
      "name": "READ ME - Replaceable Transport Shell",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -420
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "instagram-rag-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b5e0bb4a-7dcc-4fd5-a7da-ba895daa9335",
      "name": "Instagram Webhook Verification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        20
      ],
      "webhookId": "76feaccc-9369-4f5e-acc5-6e90fe899a77"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\nconst expected = $env.IG_WEBHOOK_VERIFY_TOKEN;\nconst valid = Boolean(expected) && query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === expected;\nreturn [{ json: { status: valid ? 200 : 403, body: valid ? String(query['hub.challenge'] ?? '') : 'Forbidden' } }];"
      },
      "id": "5f479812-649d-4668-a732-e1df2cc34351",
      "name": "Verify Instagram Subscription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.status }}"
        }
      },
      "id": "35e2519d-695c-4e7e-a3b6-796220d3ddc7",
      "name": "Return Meta Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -360,
        20
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-rag-webhook",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ef8d3071-d770-4185-a69b-ec70949a059f",
      "name": "Instagram Message Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        260
      ],
      "webhookId": "d429928b-0584-4604-a889-9e0849044130"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst events = (body.entry ?? []).flatMap((entry) => entry.messaging ?? []);\nconst event = events.find((item) => item?.message?.text && !item.message.is_echo);\nif (!event) return [];\nreturn [{ json: {\n  tenant_key: $env.BRAIN_TENANT_KEY || 'default',\n  channel: 'instagram',\n  external_user_id: String(event.sender?.id ?? ''),\n  channel_conversation_id: String(event.sender?.id ?? ''),\n  external_message_id: String(event.message?.mid ?? event.timestamp ?? ''),\n  text: String(event.message.text),\n  metadata: { recipient_id: event.recipient?.id ?? null, received_at: event.timestamp ?? null },\n} }];"
      },
      "id": "19fba86e-371a-409b-af7f-3424c9545abf",
      "name": "Normalize Instagram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "8286ade5-c168-4f3e-a11e-e2ea2c4c2218",
      "name": "Call Shared Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.should_send || typeof $json.reply_text !== 'string' || !$json.reply_text.trim()) return [];\nreturn [{ json: $json }];"
      },
      "id": "44c531af-0499-42ab-a553-43ba7328b0a3",
      "name": "Operational Send Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IG_MESSAGES_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.IG_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $node[\"Normalize Instagram Message\"].json.external_user_id }, message: { text: $json.reply_text } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "41652b7b-9aa8-479a-ad29-5666c6827fa2",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Instagram Webhook Verification": {
      "main": [
        [
          {
            "node": "Verify Instagram Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Instagram Subscription": {
      "main": [
        [
          {
            "node": "Return Meta Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Message Receiver": {
      "main": [
        [
          {
            "node": "Normalize Instagram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Instagram Message": {
      "main": [
        [
          {
            "node": "Call Shared Brain API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared Brain API": {
      "main": [
        [
          {
            "node": "Operational Send Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operational Send Guard": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "dc65b424-9a3e-4fea-aa3d-9326b3070d3b",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
