workflows/demo-rag-instagram-supabase.json
{
  "name": "Demo: RAG in n8n",
  "nodes": [
    {
      "parameters": {
        "path": "instagram-webhook",
        "httpMethod": [
          "GET"
        ],
        "multipleMethods": false,
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "instagram-webhook-verification",
      "name": "Instagram Webhook Verification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -260
      ],
      "webhookId": "instagram-webhook-verification"
    },
    {
      "id": "webhook_instagram_1",
      "name": "Instagram Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.2,
      "position": [
        220,
        360
      ],
      "parameters": {
        "path": "instagram-webhook",
        "httpMethod": [
          "POST"
        ],
        "multipleMethods": false,
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "notes": "Production Instagram webhook receiver. Production executions appear in n8n Executions, not as visible test canvas data.",
      "notesInFlow": true
    },
    {
      "id": "normalize_event_1",
      "name": "Normalize Instagram Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ],
      "parameters": {
        "jsCode": "const envelope = $json || {};\nconst body = envelope.body && typeof envelope.body === 'object' ? envelope.body : envelope;\nconst entries = Array.isArray(body.entry) ? body.entry : [];\nconst configuredBusinessId = String($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || '').trim();\n\nfunction asText(value) {\n  if (typeof value === 'string') return value;\n  if (value && typeof value.body === 'string') return value.body;\n  if (value && typeof value.text === 'string') return value.text;\n  return '';\n}\n\nfunction normalizeCandidate(candidate) {\n  const entry = candidate.entry || {};\n  const event = candidate.event || {};\n  const value = candidate.value || {};\n  const message = candidate.message || event.message || {};\n  const sender = event.sender || message.from || value.sender || {};\n  const recipient = event.recipient || value.recipient || {};\n  const entryId = String(entry.id || '').trim();\n  const senderId = String(sender.id || sender.user_ref || message.from?.id || '').trim();\n  const recipientId = String(recipient.id || value.metadata?.id || entryId || '').trim();\n  const businessId = configuredBusinessId || recipientId || entryId;\n  const isOutboundEcho = Boolean(configuredBusinessId && senderId === configuredBusinessId);\n  const messageId = String(message.mid || message.id || event.message?.mid || event.message?.id || '').trim();\n  const messageText = asText(message.text || event.message?.text || message).trim();\n  const timestamp = event.timestamp || entry.time || value.timestamp || Date.now();\n  const threadId = isOutboundEcho && recipientId ? recipientId : senderId || entryId;\n\n  return {\n    tenant_id: $env[\"DEFAULT_TENANT_ID\"] || 'demo',\n    channel: 'instagram',\n    event_type: 'instagram_message',\n    source_object: body.object || 'instagram',\n    ig_business_account_id: businessId,\n    instagram_sender_id: senderId,\n    instagram_recipient_id: recipientId,\n    instagram_thread_id: threadId,\n    thread_id: threadId,\n    instagram_message_id: messageId,\n    message_id: messageId,\n    message_text: messageText,\n    message_type: messageText ? 'text' : 'unknown',\n    event_timestamp: timestamp,\n    raw_event: body,\n    is_outbound_echo: isOutboundEcho,\n    is_instagram_message: Boolean(senderId && messageText),\n    is_valid_message: Boolean(senderId && messageText),\n  };\n}\n\nconst candidates = [];\nfor (const entry of entries) {\n  if (Array.isArray(entry.messaging)) {\n    for (const event of entry.messaging) candidates.push({ entry, event });\n  }\n  if (Array.isArray(entry.changes)) {\n    for (const change of entry.changes) {\n      const value = change.value || {};\n      const messages = Array.isArray(value.messages) ? value.messages : [];\n      for (const message of messages) candidates.push({ entry, value, message });\n    }\n  }\n}\n\nconst normalized = candidates.map(normalizeCandidate).find((item) => item.is_valid_message) || {\n  tenant_id: $env[\"DEFAULT_TENANT_ID\"] || 'demo',\n  channel: 'instagram',\n  event_type: 'ignored',\n  raw_event: body,\n  is_instagram_message: false,\n  is_valid_message: false,\n};\n\nreturn { json: normalized };\n",
        "mode": "runOnceForEachItem"
      },
      "notes": "Extracts IG sender/thread/message and blocks outbound echo loops using IG_INSTAGRAM_BUSINESS_ACCOUNT_ID.",
      "notesInFlow": true
    },
    {
      "id": "get_tenant_settings_1",
      "name": "Get Tenant Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        360
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/rpc/get_tenant_settings",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_tenant_id: $json.tenant_id\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Loads per-tenant brand/language/style/confidence settings from Supabase.",
      "notesInFlow": true
    },
    {
      "id": "get_thread_context_1",
      "name": "Get Thread Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        360
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/rpc/get_thread_context",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_tenant_id: $json.tenant_id || $node['Normalize Instagram Event'].json.tenant_id,\n  p_thread_id: $node['Normalize Instagram Event'].json.thread_id,\n  p_limit: Number($env[\"CONV_CONTEXT_LIMIT\"] || 8)\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Loads recent conversation context from Supabase for the current Instagram thread.",
      "notesInFlow": true
    },
    {
      "id": "classify_intent_1",
      "name": "Classify Message Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        360
      ],
      "parameters": {
        "jsCode": "const normalized = $node['Normalize Instagram Event'].json || {};\nconst tenantRows = Array.isArray($node['Get Tenant Settings'].json)\n  ? $node['Get Tenant Settings'].json\n  : ($node['Get Tenant Settings'].json ? [$node['Get Tenant Settings'].json] : []);\nconst tenantSettings = tenantRows.find((row) => row && row.tenant_id) || tenantRows[0] || {};\n\nconst threadPayload = $node['Get Thread Context'].json || $json || {};\nconst threadRows = Array.isArray(threadPayload.rows)\n  ? threadPayload.rows\n  : Array.isArray(threadPayload)\n    ? threadPayload\n    : Array.isArray($json)\n      ? $json\n      : [];\n\nconst messageText = String(normalized.message_text || normalized.text || normalized.message || '').trim();\nconst lower = messageText.toLowerCase();\n\nfunction hasCommercialOrOperationalIntent(text) {\n  const value = String(text || '');\n  return /\\b(service|services|offer|offers|package|packages|price|pricing|cost|quote|proposal|budget|website|site|landing|shop|store|ecommerce|build|automation|automate|ai|bot|chatbot|instagram|telegram|crm|lead|leads|sales|funnel|payment|payments|marketplace|content|support|operations|workflow|process|audit|consult|problem|business|company|customer|client|booking|order|integration|api|dm|direct message|reply|inbox)\\b/i.test(value)\n    || /услуг|сервис|предлож|пакет|цен|прайс|стоим|бюджет|сайт|лендинг|магазин|автоматизац|бот|чат.?бот|инстаграм|телеграм|crm|срм|лид|продаж|воронк|оплат|маркетплейс|контент|поддержк|процесс|бизнес|компан|клиент|заявк|заказ|интеграц|api|апи|директ|сообщен|ответ/i.test(value)\n    || /自动|自動|机器人|機器人|客服|私信|消息|报价|報價|价格|價格|网站|網站|销售|銷售|客户|客戶|线索|線索|支付|流程|业务|業務|集成/i.test(value)\n    || /tự động|tu dong|bot|chatbot|instagram|telegram|crm|khách hàng|khach hang|báo giá|bao gia|giá|gia|website|trang web|lead|bán hàng|ban hang|thanh toán|thanh toan|tích hợp|tich hop/i.test(value);\n}\n\nfunction isConversationStarter(text) {\n  const value = String(text || '').trim();\n  return /^(?:hi|hello|hey|yo)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^good\\s*(?:morning|afternoon|evening)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^(?:привет|здравствуй|здравствуйте|добрый|доброе)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:hola|bonjour|hallo|ciao|xin chao|chao|chào)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:你好|您好)(?:[\\s!.?,;:，。！？、]+|$)/u.test(value);\n}\nfunction hasHardEscalationSignal(text) {\n  const value = String(text || '');\n  const explicitEnglishHandoff = /\\b(human|operator|real person|live agent|escalate|handover|transfer me|connect me|talk to (?:a )?(?:human|person|agent|operator|manager))\\b/i.test(value);\n  const sensitiveEnglish = /\\b(complaint|refund|chargeback|legal|lawyer|lawsuit|contract dispute|angry|urgent|emergency|data deletion|gdpr|privacy request|security incident|account access|password|billing dispute)\\b/i.test(value);\n  const explicitRussianHandoff = /(?:подключ(?:и|ите)?|позови(?:те)?|дай(?:те)?|нуж(?:ен|на)|хочу|перевед(?:и|ите)|соедин(?:и|ите)|передай(?:те)?|передать|переключи(?:те)?).{0,50}(?:оператор|человек|менеджер|специалист|живой|живого)|(?:оператор|человек|менеджер|специалист).{0,30}(?:позвонит|ответит|свяжется|нужен|нужна)/iu.test(value);\n  const sensitiveRussian = /жалоб|возврат|чарджбек|юрист|суд|договор.*спор|срочно|экстренно|удал.*данн|персональн.*данн|доступ.*аккаунт|парол|спор.*оплат/iu.test(value);\n  const explicitChineseHandoff = /转人工|轉人工|人工客服|真人客服|找客服|人工服务|人工服務/.test(value);\n  const sensitiveChinese = /投诉|投訴|退款|紧急|緊急|法律|律师|律師|隐私|隱私|删除数据|刪除資料|安全|密码|密碼/.test(value);\n  const explicitVietnameseHandoff = /(?:gặp|gap|nói chuyện|noi chuyen|chuyển|chuyen).{0,40}(?:nhân viên|nhan vien|người thật|nguoi that|tư vấn viên|tu van vien|hỗ trợ viên|ho tro vien)/i.test(value);\n  const sensitiveVietnamese = /khiếu nại|khieu nai|hoàn tiền|hoan tien|khẩn cấp|khan cap|pháp lý|phap ly|riêng tư|rieng tu|xóa dữ liệu|xoa du lieu|bảo mật|bao mat|mật khẩu|mat khau/i.test(value);\n\n  return explicitEnglishHandoff || sensitiveEnglish || explicitRussianHandoff || sensitiveRussian || explicitChineseHandoff || sensitiveChinese || explicitVietnameseHandoff || sensitiveVietnamese;\n}\n\nfunction isOffTopicMessage(text) {\n  const value = String(text || '');\n  if (!value.trim()) return false;\n  if (isConversationStarter(value) || hasCommercialOrOperationalIntent(value)) return false;\n  return /\\b(weather|forecast|temperature|rain|snow|news|sports|football|basketball|movie|recipe|joke|crypto price|bitcoin price|stock price|time now|date today)\\b/i.test(value)\n    || /погод|прогноз|температур|новост|спорт|футбол|баскетбол|фильм|рецепт|анекдот|шутк|курс биткоин|биткоин|акци[яи]|сколько времени|дата/i.test(value)\n    || /天气|天氣|新闻|新聞|体育|體育|电影|電影|菜谱|菜譜|笑话|笑話|比特币|比特幣|股票|几点|幾點/i.test(value)\n    || /thời tiết|thoi tiet|tin tức|tin tuc|thể thao|the thao|phim|công thức|cong thuc|truyện cười|truyen cuoi|bitcoin|chứng khoán|chung khoan/i.test(value);\n}\n\nconst questionLike = /\\?|что|как|где|когда|почему|сколько|какой|какая|можно|нужно|how|what|where|when|why|which|can|could|should|多少|怎么|怎麼|什么|什麼|可以|bao nhiêu|bao nhieu|làm sao|lam sao|cái gì|cai gi/i.test(messageText);\nconst commercialIntent = hasCommercialOrOperationalIntent(messageText);\nconst conversationStarter = isConversationStarter(messageText);\nconst hardHandoff = hasHardEscalationSignal(messageText);\nconst offTopic = isOffTopicMessage(messageText);\n\nlet intent = 'ask';\nlet intentConfidence = 0.76;\nlet intentReason = 'meaning_first_sales_default';\n\nif (hardHandoff) {\n  intent = 'human_handoff';\n  intentConfidence = 0.99;\n  intentReason = 'explicit_or_sensitive_handoff_signal';\n} else if (offTopic && !commercialIntent && !conversationStarter) {\n  intent = 'ask';\n  intentConfidence = 0.68;\n  intentReason = 'ambiguous_or_off_topic_discovery';\n} else if (commercialIntent || conversationStarter || questionLike || messageText.length > 12) {\n  intent = 'ask';\n  intentConfidence = commercialIntent ? 0.94 : questionLike ? 0.88 : 0.78;\n  intentReason = commercialIntent ? 'commercial_or_operational_intent' : questionLike ? 'question_like_message' : 'conversation_start_or_context_needed';\n}\n\nconst recentContext = Array.isArray(threadRows)\n  ? threadRows\n      .filter((row) => row && typeof row === 'object')\n      .slice(0, 4)\n      .map((row) => ({\n        role: row.role,\n        intent: row.intent || null,\n        content: row.content,\n        confidence: row.confidence,\n      }))\n  : [];\n\nreturn [{\n  json: {\n    ...normalized,\n    message_text: messageText,\n    tenant_settings: tenantSettings,\n    tenant_style: tenantSettings.response_style || 'concise, practical, and polite',\n    thread_context_rows: threadRows,\n    thread_context_preview: recentContext,\n    intent,\n    intent_confidence: Number(intentConfidence.toFixed(2)),\n    intent_source: intentReason,\n    classified_at: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "if_message_1",
      "name": "Is Instagram Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "route-only-inbound-instagram-message",
              "leftValue": "={{($json.event_type === \"instagram_message\" && String($json.message_text || \"\").length > 0 && String($json.is_outbound_echo || \"\").toLowerCase() !== \"true\" && String($json.instagram_sender_id || \"\") !== String($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || $json.ig_business_account_id || \"\")) ? \"process\" : \"skip\"}}",
              "rightValue": "process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Routes only real inbound Instagram messages. Non-message events and outbound echo events stop here.",
      "notesInFlow": true
    },
    {
      "id": "if_ask_1",
      "name": "Is Ask Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ask-intent",
              "leftValue": "={{$json.intent}}",
              "rightValue": "ask",
              "operator": {
                "type": "string",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "if_handoff_1",
      "name": "Is Handoff Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "handoff-intent",
              "leftValue": "={{$json.intent}}",
              "rightValue": "human_handoff",
              "operator": {
                "type": "string",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log_user_message_1",
      "name": "Log User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        220
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/conversation_events",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $json.tenant_id,\n  channel: 'instagram',\n  instagram_thread_id: $json.thread_id,\n  role: 'user',\n  content: $json.message_text,\n  intent: $json.intent,\n  confidence: $json.intent_confidence || 0,\n  matched_document_ids: [],\n  model_name: 'inbound_event',\n  latency_ms: 0,\n  escalated: false,\n  raw_event: $json.raw_event || {}\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "embed_request_1",
      "name": "Create Message Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($json.openai_api_key || $env[\"OPENAI_API_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  input: $node['Classify Message Intent'].json.message_text,\n  model: $env[\"OPENAI_EMBEDDING_MODEL\"] || 'text-embedding-3-small'\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "parse_embedding_1",
      "name": "Parse Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        220
      ],
      "parameters": {
        "jsCode": "const source = $node['Classify Message Intent'].json || {};\nconst payload = $json || {};\nconst data = Array.isArray(payload.data) ? payload.data : [];\nconst embedding = data[0]?.embedding;\n\nif (!Array.isArray(embedding) || embedding.length === 0) {\n  throw new Error('No embedding returned by OpenAI.');\n}\n\nconst fallbackModel = 'text-embedding-3-small';\nconst sourceModel = source.openai_embedding_model || source.tenant_settings?.embedding_model || source.tenant_settings?.openai_embedding_model;\nconst candidateModel = data[0]?.model || sourceModel || fallbackModel;\n\nreturn [{\n  json: {\n    ...source,\n    embedding,\n    openai_embedding_model: candidateModel,\n    openai_embedding_usage: data[0]?.usage || payload.usage || {},\n    ask_stage: 'embedded',\n    normalized_at: new Date().toISOString(),\n  }\n}];"
      }
    },
    {
      "id": "match_documents_1",
      "name": "Match Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        220
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/rpc/match_documents_with_context",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query_embedding: $json.embedding,\n  match_count: Number($env[\"SUPABASE_MATCH_COUNT\"] || 8),\n  min_similarity: Math.max(0.05, Math.min(Number($env[\"SUPABASE_MIN_SIMILARITY\"] || 0.10), 0.30)),\n  p_tenant_id: $json.tenant_id,\n  p_message_id: $json.message_id,\n  p_thread_id: $json.thread_id,\n  p_channel: 'instagram',\n  p_message_text: $json.message_text\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Supabase pgvector retrieval. Embeddings are stored in Supabase, not local files or external vector stores.",
      "notesInFlow": true,
      "alwaysOutputData": true
    },
    {
      "id": "build_context_1",
      "name": "Build Retrieval Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        220
      ],
      "parameters": {
        "jsCode": "const source = $node['Parse Embedding'].json || {};\nconst inputItems = typeof $input !== 'undefined' ? $input.all() : [];\nconst rows = inputItems\n  .flatMap((item) => {\n    const value = item && item.json;\n    if (Array.isArray(value)) return value;\n    if (value && Array.isArray(value.rows)) return value.rows;\n    return value ? [value] : [];\n  })\n  .filter((row) => row && typeof row === 'object' && (row.id || row.chunk_text || row.similarity !== undefined));\n\nconst threshold = Number(source.min_similarity || source.similarity_threshold || source.rag_min_similarity || 0.22);\nconst minSimilarity = Math.max(0, Math.min(1, threshold));\nconst messageText = String(source.message_text || source.text || source.latest_message || '').trim();\nconst lowerMessage = messageText.toLowerCase();\n\nconst docs = rows\n  .map((row) => ({\n    ...row,\n    similarity: Number(row.similarity || 0),\n    chunk_text: String(row.chunk_text || row.content || '').trim(),\n  }))\n  .filter((row) => row.chunk_text.length > 0)\n  .sort((a, b) => Number(b.similarity || 0) - Number(a.similarity || 0));\n\nconst retrievalSimilarity = docs.reduce((max, row) => Math.max(max, Number(row.similarity || 0)), 0);\nconst retrievedIds = docs.map((row) => row.id).filter(Boolean);\nconst retrievedSources = docs.map((row) => row.source_key || row.source_type || row.id).filter(Boolean);\nconst languages = docs.map((row) => row.language).filter(Boolean);\n\nconst publicUsdPriceAnchors = [\n  ['Example Workflow Audit', '$100', 'fast diagnosis of one workflow, funnel, bot, or CRM handoff'],\n  ['Lead Response / Reply Audit', '$250', 'audit of how inbound leads are answered and where sales are lost'],\n  ['Deep Automation Audit', '$500', 'deeper map of automations, risks, priorities, and implementation sequence'],\n  ['Content Publishing Automation', '$750', 'automation for publishing or repurposing content across channels'],\n  ['API Workflow Build Sprint', '$1,500', 'focused build sprint for one production workflow with API integrations'],\n  ['AI Booking + CRM System', '$3,000', 'AI assistant connected to booking, CRM, lead status, and follow-up logic'],\n  ['Multi-channel Lead Handling System', '$5,000', 'Instagram/Telegram/other channel lead handling with routing, memory, analytics, and handoff']\n];\nconst publicPriceContext = 'Public USD price anchors for initial sales qualification:\\n' + publicUsdPriceAnchors.map((row) => '- ' + row[0] + ' — ' + row[1] + ': ' + row[2]).join('\\n');\n\nfunction hasCommercialOrOperationalIntent(text) {\n  const value = String(text || '');\n  return /\\b(service|services|offer|offers|package|packages|price|pricing|cost|quote|proposal|budget|website|site|landing|shop|store|ecommerce|build|automation|automate|ai|bot|chatbot|instagram|telegram|crm|lead|leads|sales|funnel|payment|payments|marketplace|content|support|operations|workflow|process|audit|consult|problem|business|company|customer|client|booking|order|integration|api|dm|direct message|reply|inbox)\\b/i.test(value)\n    || /услуг|сервис|предлож|пакет|цен|прайс|стоим|бюджет|сайт|лендинг|магазин|автоматизац|бот|чат.?бот|инстаграм|телеграм|crm|срм|лид|продаж|воронк|оплат|маркетплейс|контент|поддержк|процесс|бизнес|компан|клиент|заявк|заказ|интеграц|api|апи|директ|сообщен|ответ/i.test(value)\n    || /自动|自動|机器人|機器人|客服|私信|消息|报价|報價|价格|價格|网站|網站|销售|銷售|客户|客戶|线索|線索|支付|流程|业务|業務|集成/i.test(value)\n    || /tự động|tu dong|bot|chatbot|instagram|telegram|crm|khách hàng|khach hang|báo giá|bao gia|giá|gia|website|trang web|lead|bán hàng|ban hang|thanh toán|thanh toan|tích hợp|tich hop/i.test(value);\n}\n\nfunction isConversationStarter(text) {\n  const value = String(text || '').trim();\n  return /^(?:hi|hello|hey|yo)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^good\\s*(?:morning|afternoon|evening)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^(?:привет|здравствуй|здравствуйте|добрый|доброе)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:hola|bonjour|hallo|ciao|xin chao|chao|chào)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:你好|您好)(?:[\\s!.?,;:，。！？、]+|$)/u.test(value);\n}\nfunction hasHardEscalationSignal(text) {\n  const value = String(text || '');\n  const explicitEnglishHandoff = /\\b(human|operator|real person|live agent|escalate|handover|transfer me|connect me|talk to (?:a )?(?:human|person|agent|operator|manager))\\b/i.test(value);\n  const sensitiveEnglish = /\\b(complaint|refund|chargeback|legal|lawyer|lawsuit|contract dispute|angry|urgent|emergency|data deletion|gdpr|privacy request|security incident|account access|password|billing dispute)\\b/i.test(value);\n  const explicitRussianHandoff = /(?:подключ(?:и|ите)?|позови(?:те)?|дай(?:те)?|нуж(?:ен|на)|хочу|перевед(?:и|ите)|соедин(?:и|ите)|передай(?:те)?|передать|переключи(?:те)?).{0,50}(?:оператор|человек|менеджер|специалист|живой|живого)|(?:оператор|человек|менеджер|специалист).{0,30}(?:позвонит|ответит|свяжется|нужен|нужна)/iu.test(value);\n  const sensitiveRussian = /жалоб|возврат|чарджбек|юрист|суд|договор.*спор|срочно|экстренно|удал.*данн|персональн.*данн|доступ.*аккаунт|парол|спор.*оплат/iu.test(value);\n  const explicitChineseHandoff = /转人工|轉人工|人工客服|真人客服|找客服|人工服务|人工服務/.test(value);\n  const sensitiveChinese = /投诉|投訴|退款|紧急|緊急|法律|律师|律師|隐私|隱私|删除数据|刪除資料|安全|密码|密碼/.test(value);\n  const explicitVietnameseHandoff = /(?:gặp|gap|nói chuyện|noi chuyen|chuyển|chuyen).{0,40}(?:nhân viên|nhan vien|người thật|nguoi that|tư vấn viên|tu van vien|hỗ trợ viên|ho tro vien)/i.test(value);\n  const sensitiveVietnamese = /khiếu nại|khieu nai|hoàn tiền|hoan tien|khẩn cấp|khan cap|pháp lý|phap ly|riêng tư|rieng tu|xóa dữ liệu|xoa du lieu|bảo mật|bao mat|mật khẩu|mat khau/i.test(value);\n\n  return explicitEnglishHandoff || sensitiveEnglish || explicitRussianHandoff || sensitiveRussian || explicitChineseHandoff || sensitiveChinese || explicitVietnameseHandoff || sensitiveVietnamese;\n}\n\nfunction inferPreferredCurrency(text) {\n  const value = String(text || '');\n  const rules = [\n    ['USD', /\\b(usd|us\\s*dollars?|dollars?|usd\\$|\\$)\\b/i],\n    ['HKD', /\\b(hkd|hk\\$|hong\\s*kong\\s*dollars?)\\b|港币|港幣/i],\n    ['EUR', /\\b(eur|euro|euros?)\\b|€/i],\n    ['GBP', /\\b(gbp|pounds?|sterling)\\b|£/i],\n    ['AUD', /\\b(aud|australian\\s*dollars?)\\b/i],\n    ['CAD', /\\b(cad|canadian\\s*dollars?)\\b/i],\n    ['SGD', /\\b(sgd|singapore\\s*dollars?)\\b/i],\n    ['CNY', /\\b(cny|rmb|yuan)\\b|人民币|人民幣/i],\n    ['JPY', /\\b(jpy|yen)\\b|¥/i],\n    ['VND', /\\b(vnd|dong|vietnamese\\s*dong)\\b|₫/i],\n    ['THB', /\\b(thb|baht)\\b/i],\n    ['AED', /\\b(aed|dirham|dirhams)\\b/i],\n    ['INR', /\\b(inr|rupees?)\\b/i],\n    ['RUB', /\\b(rub|rouble|ruble|rubles?)\\b|руб|₽/i],\n  ];\n  const match = rules.find(([, regex]) => regex.test(value));\n  return match ? match[0] : 'USD';\n}\n\nfunction inferResponseLanguage(message) {\n  const text = String(message || '').trim();\n  if (!text) return 'the same language as the customer message';\n  const cjkChars = text.match(/[\\u3400-\\u9FFF]/g) || [];\n  const cyrillicChars = text.match(/[А-Яа-яЁё]/g) || [];\n  const vietnameseChars = text.match(/[ăâđêôơưĂÂĐÊÔƠƯàáảãạằắẳẵặầấẩẫậèéẻẽẹềếểễệìíỉĩịòóỏõọồốổỗộờớởỡợùúủũụừứửữựỳýỷỹỵ]/g) || [];\n  const latinWords = text.match(/[A-Za-z][A-Za-z'’-]*/g) || [];\n  if (cjkChars.length >= 2) return 'Chinese/Cantonese matching the customer message';\n  if (cyrillicChars.length >= 2) return 'Russian';\n  if (vietnameseChars.length >= 1) return 'Vietnamese';\n  if (latinWords.length >= 2) return 'English';\n  return 'the same language as the customer message';\n}\n\nconst commercialIntent = hasCommercialOrOperationalIntent(lowerMessage);\nconst conversationStarter = isConversationStarter(lowerMessage);\nconst hardHandoff = hasHardEscalationSignal(lowerMessage);\nconst preferredCurrency = inferPreferredCurrency(messageText);\nconst responseLanguage = inferResponseLanguage(messageText);\nconst askedPricing = /\\b(price|pricing|cost|quote|proposal|budget|package|packages|how much)\\b/i.test(messageText)\n  || /цен|прайс|стоим|сколько|бюджет|пакет|смет|коммерческ/i.test(messageText)\n  || /价格|價格|报价|報價|多少钱|多少錢|预算|預算|套餐/i.test(messageText)\n  || /giá|gia|báo giá|bao gia|bao nhiêu|bao nhieu|ngân sách|ngan sach|gói|goi/i.test(messageText);\n\nconst businessContextSignal = docs.some((row) => {\n  const haystack = [row.source_type, row.source_key, row.language, row.chunk_text].join(' ').toLowerCase();\n  return /private_bot_memory|company_identity|sales|pricing|price|offer|service|playbook|dialogue|qualification|objection|usd|hkd|website|automation|instagram|telegram|crm|lead|funnel|package/.test(haystack);\n});\n\nconst hasUsefulContext = docs.length > 0 && retrievalSimilarity >= Math.max(0.05, minSimilarity - 0.15);\nconst semanticFallbackUsed = !hardHandoff && (!hasUsefulContext || (!businessContextSignal && retrievalSimilarity < minSimilarity));\n\nlet decisionReason = 'answerable_confidence';\nlet escalateByConfidence = false;\nif (hardHandoff) {\n  decisionReason = 'explicit_or_sensitive_handoff_request';\n  escalateByConfidence = true;\n} else if (docs.length === 0 && (commercialIntent || conversationStarter)) {\n  decisionReason = 'semantic_sales_discovery_fallback_no_rag_match';\n} else if (docs.length === 0) {\n  decisionReason = 'topic_guardrail_fallback_no_rag_match';\n} else if (businessContextSignal) {\n  decisionReason = 'business_context_answer';\n} else if (retrievalSimilarity < minSimilarity) {\n  decisionReason = 'weak_context_answer_with_guardrail';\n}\n\nconst retrievedContext = docs\n  .map((row, index) => {\n    const sourceLabel = row.source_key || row.source_type || row.id || ('source_' + (index + 1));\n    const similarity = Number.isFinite(row.similarity) ? row.similarity.toFixed(3) : '0.000';\n    return 'Source ' + (index + 1) + ': ' + sourceLabel + ' (similarity ' + similarity + ')\\n' + row.chunk_text;\n  })\n  .join('\\n\\n---\\n\\n');\n\nconst semanticFallbackContext = [\n  'Meaning-first fallback for inbound commercial conversations when retrieved Supabase context is weak, missing, or not directly matched.',\n  publicPriceContext,\n  'Primary goal: behave like a capable sales/discovery assistant, not a rigid FAQ bot. Understand the customer intent across any language and keep the conversation moving toward a qualified next step.',\n  'Greeting rule: for simple greetings or conversation starters, do not answer generically. Briefly position the company around AI automation, sales/CRM workflows, Instagram/Telegram bots, websites/funnels, and lead handling, then ask which area the customer wants to improve first.',\n  'Allowed offer families: AI automation, Instagram/Telegram DM assistants, lead-response systems, CRM/workflow automation, websites, landing pages, sales funnels, ecommerce/shop builds, payment flows, content/marketplace operations, and customer-support automations.',\n  'Discovery rule: if a customer asks for something broad or unclear, infer the likely business problem, explain the practical outcome in one or two sentences, then ask one concrete qualification question. Do not give up because exact RAG text is missing.',\n  'Website rule: a website request can connect to lead capture, CRM, analytics, payment, booking, and DM automation when relevant. Ask whether they need a landing page, company website, ecommerce/shop, or full funnel.',\n  'Pricing rule: public initial price anchors are in USD. For pricing questions, name 2-4 relevant USD anchors directly before asking the next scoping question. Do not answer only with “depends”.',\n  'Currency rule: default public pricing currency is USD for every language. Use another currency only if the customer explicitly asks for that currency. Do not infer currency from language alone, including Chinese/Cantonese. Do not use HKD/HK$/港币/港幣 unless the customer explicitly asks for Hong Kong dollars/HKD/港币/港幣 or says they need Hong Kong-local billing. If retrieved context contains non-USD prices but preferred/requested currency is USD, ignore those non-USD prices and quote the public USD anchors. If exact conversion is not in retrieved context, quote the USD base and say final local-currency invoice can be calculated after scope confirmation.',\n  'Topic guardrail: if the message is not clearly related to the company services, briefly steer back to automation, websites, bots, or sales systems and ask what business result they want. Do not escalate immediately for normal ambiguity or off-topic small talk.',\n  'Escalate only when the user explicitly asks for a human/operator/manager, raises legal/refund/complaint/urgent/sensitive account-specific issues, or after repeated failed attempts where the bot cannot safely help.'\n].join('\\n');\n\nconst retrievalContext = retrievedContext ? (retrievedContext + '\\n\\n---\\n\\n' + publicPriceContext) : semanticFallbackContext;\n\nconst promptSystem = [\n  'You are the company inbound sales assistant for Instagram DMs.',\n  'Operate by meaning and customer intent, not by hard-coded language rules. Customers may write in any language and may request any currency.',\n  'Reply in the same language as the latest customer message unless the customer asks for another language.',\n  'Required response language: ' + responseLanguage + '. This controls customer-facing language only; do not use it for intent, price selection, currency, or escalation.',\n  'Every customer-facing sentence must be in the required response language. If it is English, answer only in English; if Russian, answer only in Russian; if Chinese/Cantonese, answer in Chinese/Cantonese; if Vietnamese, answer only in Vietnamese.',\n  'Use retrieved Supabase company context for factual claims. When fallback context is provided, use it for sales discovery, qualification, and safe offer-family framing.',\n  'For pricing questions, use the public USD price anchors in context. Name the relevant amounts directly, then say final scope can change after qualification. Never give a vague “depends on scope” answer without at least one useful USD anchor.',\n  'If retrieved private context contains non-USD prices, use them only when the customer explicitly requested that currency. If the requested/default currency is USD, ignore non-USD prices and use the public USD anchors. If another currency is explicitly requested and conversion is not in context, quote USD base and say local-currency conversion can be confirmed after scope.',\n  'Treat ordinary interest as a sales opportunity: services, websites, bots, automation, CRM, Instagram/Telegram, payments, funnels, content, support, operations, pricing, or business problems should receive a practical answer and a next question.',\n  'For greetings/conversation starters, briefly introduce the company as helping with AI automation, sales/CRM workflows, Instagram/Telegram bots, websites/funnels, and lead handling; ask one specific area to improve. Do not answer only “how can I help?”.',\n  'If the user is vague, diagnose needs like a human consultant: identify the likely business objective, offer the closest relevant path, and ask one useful question.',\n  'If the user is off-topic, do one short redirect back to the company services. Only escalate after explicit human request, legal/refund/complaint/urgent/sensitive account-specific issue, or repeated inability to help safely.',\n  'Be concise, natural, direct, and sales-oriented. Avoid saying you cannot help unless the request is truly outside scope.'\n].join('\\n');\n\nasync function loadRecentThreadHistory(source) {\n  const baseRaw = String($env.SUPABASE_REST_URL || (($env.SUPABASE_URL || '').replace(/\\/$/, '') + '/rest/v1'));\n  const key = String($env.SUPABASE_SECRET_KEY || $env.SUPABASE_SERVICE_ROLE_KEY || $env.SUPABASE_ANON_KEY || '');\n  if (!baseRaw || baseRaw === '/rest/v1' || !key || typeof fetch !== 'function') {\n    return { text: '', rows: [], loaded: false, reason: 'supabase_env_or_fetch_unavailable' };\n  }\n\n  const tenantId = encodeURIComponent(String(source.tenant_id || 'demo'));\n  const channel = encodeURIComponent(String(source.channel || 'instagram'));\n  const threadId = encodeURIComponent(String(source.thread_id || source.instagram_thread_id || ''));\n  if (!threadId) return { text: '', rows: [], loaded: false, reason: 'missing_thread_id' };\n\n  const url = baseRaw.replace(/\\/$/, '') + '/conversation_events?select=role,content,created_at,intent,confidence&tenant_id=eq.' + tenantId + '&channel=eq.' + channel + '&instagram_thread_id=eq.' + threadId + '&order=created_at.desc&limit=16';\n  try {\n    const res = await fetch(url, {\n      method: 'GET',\n      headers: {\n        apikey: key,\n        Authorization: 'Bearer ' + key,\n        Accept: 'application/json',\n      },\n    });\n    if (!res.ok) return { text: '', rows: [], loaded: false, reason: 'history_http_' + res.status };\n    const rows = await res.json();\n    const ordered = Array.isArray(rows) ? rows.slice().reverse() : [];\n    const text = ordered\n      .map((row) => {\n        const role = row.role === 'assistant' ? 'assistant' : row.role === 'system' ? 'system' : 'customer';\n        return '[' + role + '] ' + String(row.content || '').replace(/\\s+/g, ' ').trim();\n      })\n      .filter(Boolean)\n      .join('\\n');\n    return { text, rows: ordered, loaded: true, reason: 'ok' };\n  } catch (error) {\n    return { text: '', rows: [], loaded: false, reason: 'history_error_' + String(error.message || error).slice(0, 80) };\n  }\n}\n\nconst threadHistoryResult = await loadRecentThreadHistory(source);\nconst threadHistoryText = threadHistoryResult.text\n  ? 'Recent conversation memory from Supabase (oldest to newest):\\n' + threadHistoryResult.text\n  : 'Recent conversation memory from Supabase: none found for this tenant/channel/thread yet.';\n\nconst promptUser = 'Required response language:\\n' + responseLanguage + '\\n\\nDefault/requested pricing currency:\\n' + preferredCurrency + '\\n\\nPricing question detected:\\n' + (askedPricing ? 'yes' : 'no') + '\\n\\nConversation starter detected:\\n' + (conversationStarter ? 'yes' : 'no') + '\\n\\nLatest customer message:\\n' + (messageText || '(empty)') + '\\n\\n' + threadHistoryText + '\\n\\nRetrieved/fallback context:\\n' + retrievalContext;\n\nreturn [{\n  json: {\n    ...source,\n    message_text: messageText,\n    retrieval_context: retrievalContext,\n    prompt_system: promptSystem,\n    prompt_user: promptUser,\n    thread_history: threadHistoryResult.rows,\n    thread_history_loaded: threadHistoryResult.loaded,\n    thread_history_status: threadHistoryResult.reason,\n    rag_confidence: retrievalSimilarity,\n    confidence: retrievalSimilarity,\n    similarity_threshold: minSimilarity,\n    matched_document_ids: retrievedIds,\n    matched_sources: retrievedSources,\n    matched_languages: languages,\n    sales_intent: commercialIntent,\n    semantic_fallback_used: semanticFallbackUsed,\n    sales_context_override: businessContextSignal,\n    sales_fallback_used: semanticFallbackUsed,\n    asked_pricing: askedPricing,\n    preferred_currency: preferredCurrency,\n    response_language: responseLanguage,\n    conversation_starter: conversationStarter,\n    escalation_decision_reason: decisionReason,\n    escalate_by_confidence: escalateByConfidence,\n  }\n}];"
      }
    },
    {
      "id": "if_escalate_1",
      "name": "Should Escalate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2520,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "low-confidence",
              "leftValue": "={{$json.escalate_by_confidence === true ? 1 : 0}}",
              "rightValue": "1",
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "notes": "Low-confidence or explicit handoff requests route to escalation.",
      "notesInFlow": true
    },
    {
      "id": "build_escalation_reply_1",
      "name": "Build Escalation Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        320
      ],
      "parameters": {
        "jsCode": "const source = $json;\nconst responseLanguage = source.response_language || 'English';\n\nfunction buildEscalationReply(language) {\n  if (language === 'Russian') {\n    return 'Передаю диалог человеку-оператору. Дальше я буду молчать в этом чате, пока оператор не сбросит маркер передачи.';\n  }\n  if (language === 'Vietnamese') {\n    return 'Tôi sẽ chuyển cuộc trò chuyện này cho nhân viên phụ trách. Tôi sẽ giữ im lặng tại đây cho đến khi nhân viên đặt lại trạng thái chuyển tiếp.';\n  }\n  if (String(language || '').startsWith('Chinese')) {\n    return '我会请人工客服查看并跟进。在操作员重置转接标记之前，我会在这里保持静默。';\n  }\n  return 'I will ask a human operator to review this and follow up. I will stay silent here until the operator resets the handoff marker.';\n}\n\nconst reply = buildEscalationReply(responseLanguage);\nreturn [{ json: { ...source, reply_text: reply, response_text: reply, response_language: responseLanguage } }];"
      },
      "notes": "Creates the one-time customer-facing escalation message. After this, the thread state is marked escalated.",
      "notesInFlow": true
    },
    {
      "id": "generate_reply_1",
      "name": "Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        120
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($json.openai_api_key || $env[\"OPENAI_API_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $env[\"OPENAI_CHAT_MODEL\"] || 'gpt-4o-mini',\n  temperature: 0.3,\n  messages: [\n    { role: 'system', content: $json.prompt_system },\n    { role: 'user', content: $json.prompt_user }\n  ]\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Generates grounded answer from normalized message, thread context, tenant settings, and retrieved Supabase chunks.",
      "notesInFlow": true
    },
    {
      "id": "parse_reply_1",
      "name": "Parse Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        120
      ],
      "parameters": {
        "jsCode": "const source = $node['Build Retrieval Context'].json || {};\nconst response = $json || {};\nconst content = response.choices?.[0]?.message?.content;\nconst rawAnswer = typeof content === 'string' ? content.trim() : '';\nconst answer = rawAnswer.length > 0\n  ? rawAnswer\n  : 'I could not produce a response from the model. A support agent will follow up soon.';\nconst score = Number(source.retrieval_similarity || 0);\nconst sourceModel = source.openai_chat_model || source.tenant_settings?.chat_model || source.llm_model;\n\nreturn [{\n  json: {\n    ...source,\n    llm_answer: answer,\n    escalated: false,\n    answer_confidence: Number(Math.min(0.99, 0.35 + score * 0.55).toFixed(3)),\n    model_name: response.model || sourceModel || 'gpt-4o-mini',\n    generated_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "send_reply_1",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        120
      ],
      "parameters": {
        "url": "={{ ($env[\"IG_MESSAGES_ENDPOINT\"] || (($env[\"IG_MESSAGES_BASE_URL\"] || 'https://graph.instagram.com') + '/' + ($env[\"IG_GRAPH_API_VERSION\"] || 'v21.0') + '/' + ($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || $json.ig_business_account_id || $node['Normalize Instagram Event'].json.ig_business_account_id || '') + '/messages')) }}",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"IG_ACCESS_TOKEN\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  recipient: { id: $json.instagram_sender_id || $node['Parse Reply'].json.instagram_sender_id || $node['Normalize Instagram Event'].json.instagram_sender_id },\n  message: { text: $json.llm_answer || $node['Parse Reply'].json.llm_answer }\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Sends normal bot reply through Instagram Messaging API.",
      "notesInFlow": true
    },
    {
      "id": "log_assistant_1",
      "name": "Log Assistant Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        120
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/conversation_events",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $node['Parse Reply'].json.tenant_id,\n  channel: 'instagram',\n  instagram_thread_id: $node['Parse Reply'].json.thread_id,\n  role: 'assistant',\n  content: $node['Parse Reply'].json.llm_answer,\n  intent: $node['Parse Reply'].json.intent,\n  confidence: $node['Parse Reply'].json.answer_confidence || 0,\n  matched_document_ids: $node['Parse Reply'].json.retrieved_document_ids || [],\n  model_name: $node['Parse Reply'].json.model_name,\n  latency_ms: 0,\n  escalated: $node['Parse Reply'].json.escalated || false,\n  raw_event: $node['Parse Reply'].json.raw_event || {}\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "build_handoff_reply_1",
      "name": "Build Handoff Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        620
      ],
      "parameters": {
        "jsCode": "const messageText = String($json.message_text || $json.text || '').trim();\nfunction languageKey(message) {\n  const text = String(message || '');\n  if ((text.match(/[\\u3400-\\u9FFF]/g) || []).length >= 2) return 'zh';\n  if ((text.match(/[А-Яа-яЁё]/g) || []).length >= 2) return 'ru';\n  if (/[ăâđêôơưĂÂĐÊÔƠƯàáảãạằắẳẵặầấẩẫậèéẻẽẹềếểễệìíỉĩịòóỏõọồốổỗộờớởỡợùúủũụừứửữựỳýỷỹỵ]/.test(text)) return 'vi';\n  return 'en';\n}\nconst replies = {\n  ru: 'Передаю диалог человеку-оператору. Дальше не буду повторять это сообщение, чтобы не мешать оператору.',\n  zh: '我会把这段对话转给人工客服。为了不打扰人工跟进，我不会重复发送这条提示。',\n  vi: 'Tôi sẽ chuyển cuộc trò chuyện này cho nhân viên phụ trách. Tôi sẽ không lặp lại thông báo này để không cản trở người phụ trách.',\n  en: 'I am handing this conversation to a human operator. I will not repeat this message so the operator can continue cleanly.'\n};\nconst key = languageKey(messageText);\nreturn [{\n  json: {\n    ...$json,\n    llm_answer: replies[key] || replies.en,\n    escalated: true,\n    answer_confidence: 0.99,\n    model_name: 'deterministic_handoff',\n    escalation_decision_reason: 'explicit_or_sensitive_handoff_signal',\n    retrieved_documents: [],\n    retrieved_document_ids: [],\n    retrieval_count: 0,\n    retrieval_similarity: 0,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "notes": "Creates the one-time handoff reply for explicit human/operator requests.",
      "notesInFlow": true
    },
    {
      "id": "log_handoff_1",
      "name": "Log Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        620
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/conversation_events",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $json.tenant_id,\n  channel: 'instagram',\n  instagram_thread_id: $json.thread_id,\n  role: 'assistant',\n  content: $json.llm_answer,\n  intent: $json.intent,\n  confidence: $json.answer_confidence || 0,\n  matched_document_ids: [],\n  model_name: $json.model_name,\n  latency_ms: 0,\n  escalated: true,\n  raw_event: $json.raw_event || {}\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Writes the handoff/escalation event to conversation_events with escalated=true.",
      "notesInFlow": true
    },
    {
      "id": "send_handoff_1",
      "name": "Send Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        620
      ],
      "parameters": {
        "url": "={{ ($env[\"IG_MESSAGES_ENDPOINT\"] || (($env[\"IG_MESSAGES_BASE_URL\"] || 'https://graph.instagram.com') + '/' + ($env[\"IG_GRAPH_API_VERSION\"] || 'v21.0') + '/' + ($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || $json.ig_business_account_id || $node['Normalize Instagram Event'].json.ig_business_account_id || '') + '/messages')) }}",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"IG_ACCESS_TOKEN\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  recipient: { id: $json.instagram_sender_id || $node['Build Escalation Reply'].json.instagram_sender_id || $node['Build Handoff Reply'].json.instagram_sender_id || $node['Normalize Instagram Event'].json.instagram_sender_id },\n  message: { text: $json.llm_answer || $node['Build Escalation Reply'].json.llm_answer || $node['Build Handoff Reply'].json.llm_answer }\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      },
      "notes": "Sends the one-time handoff/escalation reply through Instagram Messaging API.",
      "notesInFlow": true
    },
    {
      "id": "other_handler_1",
      "name": "Handle Other Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        420
      ],
      "parameters": {
        "jsCode": "const messageText = String($json.message_text || $json.text || '').trim();\nfunction languageKey(message) {\n  const text = String(message || '');\n  if ((text.match(/[\\u3400-\\u9FFF]/g) || []).length >= 2) return 'zh';\n  if ((text.match(/[А-Яа-яЁё]/g) || []).length >= 2) return 'ru';\n  if (/[ăâđêôơưĂÂĐÊÔƠƯàáảãạằắẳẵặầấẩẫậèéẻẽẹềếểễệìíỉĩịòóỏõọồốổỗộờớởỡợùúủũụừứửữựỳýỷỹỵ]/.test(text)) return 'vi';\n  return 'en';\n}\nconst replies = {\n  ru: 'Могу помочь по автоматизации, Instagram/Telegram-ботам, CRM, сайтам, воронкам и продажам. Напишите, какой бизнес-результат хотите получить, и я предложу ближайший следующий шаг.',\n  zh: '我可以帮你规划自动化、Instagram/Telegram 机器人、CRM、网站、销售漏斗和线索处理。告诉我你想改善哪个业务结果，我会给出下一步建议。',\n  vi: 'Tôi có thể hỗ trợ về tự động hóa, bot Instagram/Telegram, CRM, website, phễu bán hàng và xử lý lead. Hãy cho tôi biết kết quả kinh doanh bạn muốn đạt được, tôi sẽ đề xuất bước tiếp theo.',\n  en: 'I can help with automation, Instagram/Telegram bots, CRM, websites, funnels, and sales systems. Tell me the business result you want, and I will suggest the next useful step.'\n};\nconst key = languageKey(messageText);\nreturn [{\n  json: {\n    ...$json,\n    llm_answer: replies[key] || replies.en,\n    escalated: false,\n    answer_confidence: 0.75,\n    model_name: 'deterministic_scope_redirect',\n    retrieved_documents: [],\n    retrieved_document_ids: [],\n    retrieval_similarity: 0,\n    retrieval_count: 0,\n    generated_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "log_other_1",
      "name": "Log Other Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        420
      ],
      "parameters": {
        "url": "={{$env[\"SUPABASE_REST_URL\"]}}/conversation_events",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"SUPABASE_SECRET_KEY\"] || $env[\"SUPABASE_PUBLISHABLE_KEY\"] || $env[\"SUPABASE_ANON_KEY\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $json.tenant_id,\n  channel: 'instagram',\n  instagram_thread_id: $json.thread_id,\n  role: 'assistant',\n  content: $json.llm_answer,\n  intent: $json.intent,\n  confidence: $json.answer_confidence || 0,\n  matched_document_ids: [],\n  model_name: $json.model_name,\n  latency_ms: 0,\n  escalated: false,\n  raw_event: $json.raw_event || {}\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "send_other_1",
      "name": "Send Other Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        420
      ],
      "parameters": {
        "url": "={{ ($env[\"IG_MESSAGES_ENDPOINT\"] || (($env[\"IG_MESSAGES_BASE_URL\"] || 'https://graph.instagram.com') + '/' + ($env[\"IG_GRAPH_API_VERSION\"] || 'v21.0') + '/' + ($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || $json.ig_business_account_id || $node['Normalize Instagram Event'].json.ig_business_account_id || '') + '/messages')) }}",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env[\"IG_ACCESS_TOKEN\"] || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  recipient: { id: $json.instagram_sender_id || $node['Handle Other Messages'].json.instagram_sender_id || $node['Normalize Instagram Event'].json.instagram_sender_id },\n  message: { text: $json.llm_answer || $node['Handle Other Messages'].json.llm_answer }\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const envelope = $json || {};\nconst query = envelope.query || {};\nconst expectedToken = $env[\"IG_WEBHOOK_VERIFY_TOKEN\"];\nconst isValid = query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === expectedToken;\nreturn {\n  json: {\n    response_body: isValid ? String(query['hub.challenge'] || '') : 'Invalid hub.verify_token',\n    response_code: isValid ? 200 : 403,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -260
      ],
      "id": "build-verification-response",
      "name": "Build Verification Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response_body }}",
        "options": {
          "responseCode": "={{ $json.response_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -140,
        -260
      ],
      "id": "respond-verification-challenge",
      "name": "Respond Verification Challenge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "can-send-instagram-reply",
              "leftValue": "={{((String($env[\"IG_ENABLE_LIVE_SEND\"] || '').toLowerCase() === 'true') && (String($env[\"IG_ACCESS_TOKEN\"] || '').length > 0) && (String($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || '').length > 0)) ? 1 : 0}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "02c3d519-778b-4b96-9e73-2dedbe4af112",
      "name": "Can Send Instagram Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3180,
        120
      ],
      "notes": "Live-send safety gate for normal replies.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "can-send-handoff-reply",
              "leftValue": "={{((String($env[\"IG_ENABLE_LIVE_SEND\"] || '').toLowerCase() === 'true') && (String($env[\"IG_ACCESS_TOKEN\"] || '').length > 0) && (String($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || '').length > 0)) ? 1 : 0}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c8cb0ed6-e072-4b7b-bba9-11cbd9ba204e",
      "name": "Can Send Handoff Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3180,
        320
      ],
      "notes": "Live-send safety gate for handoff/escalation replies.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "can-send-other-reply",
              "leftValue": "={{((String($env[\"IG_ENABLE_LIVE_SEND\"] || '').toLowerCase() === 'true') && (String($env[\"IG_ACCESS_TOKEN\"] || '').length > 0) && (String($env[\"IG_INSTAGRAM_BUSINESS_ACCOUNT_ID\"] || '').length > 0)) ? 1 : 0}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f4912772-c55f-4ed0-aaca-e6ebda096579",
      "name": "Can Send Other Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3180,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Parse Reply'].json || $json || {};\nreturn [{\n  json: {\n    ...source,\n    delivery_status: 'dry_run',\n    delivery_skipped: true,\n    delivery_reason: 'IG_ACCESS_TOKEN and IG_INSTAGRAM_BUSINESS_ACCOUNT_ID are required for live Instagram delivery.',\n    delivery_provider: 'instagram_messaging_api',\n    delivery_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f3c9e26a-0c8c-4eae-a166-eb925de1ed86",
      "name": "Dry Run Instagram Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "let source = $json || {};\ntry {\n  if (!source.llm_answer && $node['Build Escalation Reply'].json?.llm_answer) {\n    source = $node['Build Escalation Reply'].json;\n  }\n} catch (error) {}\ntry {\n  if (!source.llm_answer && $node['Build Handoff Reply'].json?.llm_answer) {\n    source = $node['Build Handoff Reply'].json;\n  }\n} catch (error) {}\nreturn [{\n  json: {\n    ...source,\n    delivery_status: 'dry_run',\n    delivery_skipped: true,\n    delivery_reason: 'IG_ACCESS_TOKEN and IG_INSTAGRAM_BUSINESS_ACCOUNT_ID are required for live Instagram delivery.',\n    delivery_provider: 'instagram_messaging_api',\n    delivery_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "1bbec890-7074-4650-9eca-f486d657be34",
      "name": "Dry Run Handoff Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Handle Other Messages'].json || $json || {};\nreturn [{\n  json: {\n    ...source,\n    delivery_status: 'dry_run',\n    delivery_skipped: true,\n    delivery_reason: 'IG_ACCESS_TOKEN and IG_INSTAGRAM_BUSINESS_ACCOUNT_ID are required for live Instagram delivery.',\n    delivery_provider: 'instagram_messaging_api',\n    delivery_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "652647bb-1154-4a12-a00e-8c800c7c8ff0",
      "name": "Dry Run Other Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        480
      ]
    },
    {
      "id": "get-thread-state-before-routing",
      "name": "Get Thread State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        360
      ],
      "notesInFlow": true,
      "notes": "Reads current per-thread bot state from Supabase. If status is escalated, the bot must stay silent until an operator runs reset_thread_escalation.",
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_REST_URL}}/rpc/get_thread_state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_tenant_id: $node[\"Normalize Instagram Event\"].json.tenant_id, p_channel: \"instagram\", p_thread_id: $node[\"Normalize Instagram Event\"].json.thread_id } }}",
        "options": {}
      }
    },
    {
      "id": "escalation-silence-gate",
      "name": "Escalation Silence Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        360
      ],
      "notesInFlow": true,
      "notes": "True branch means bot may continue. False branch logs the inbound message and sends nothing because the thread is already escalated.",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "thread-is-not-escalated",
              "leftValue": "={{String($json.status || \"bot_active\") === \"escalated\" && $json.silence_after_escalation !== false ? \"silent\" : \"process\"}}",
              "rightValue": "process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "log-muted-escalated-message",
      "name": "Log Muted Escalated Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1610,
        580
      ],
      "notesInFlow": true,
      "notes": "Audit-only branch. The customer message is logged, but the bot intentionally sends no second escalation message.",
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_REST_URL}}/conversation_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tenant_id: $node[\"Normalize Instagram Event\"].json.tenant_id, channel: \"instagram\", instagram_thread_id: $node[\"Normalize Instagram Event\"].json.thread_id, role: \"user\", content: $node[\"Normalize Instagram Event\"].json.message_text, intent: \"muted_after_escalation\", confidence: 1, escalated: true, raw_event: { route: \"silent_after_escalation\", thread_state: $node[\"Get Thread State\"].json, original_event: $node[\"Normalize Instagram Event\"].json.raw_event } } }}",
        "options": {}
      }
    },
    {
      "id": "silent-already-escalated",
      "name": "Silent: Already Escalated",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        580
      ],
      "notesInFlow": true,
      "notes": "Terminal branch. Expected behavior: workflow execution succeeds and sends no Instagram reply until the operator resets thread state.",
      "parameters": {
        "jsCode": "return [{ json: { status: \"silent_already_escalated\", reason: \"operator_reset_required\", tenant_id: $node[\"Normalize Instagram Event\"].json.tenant_id, channel: \"instagram\", thread_id: $node[\"Normalize Instagram Event\"].json.thread_id, reset_rpc: \"reset_thread_escalation\" } }];"
      }
    },
    {
      "id": "mark-thread-escalated",
      "name": "Mark Thread Escalated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        810
      ],
      "notesInFlow": true,
      "notes": "Sets thread_states.status=escalated. Future inbound messages from this thread are logged but not answered until a human resets the marker.",
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_REST_URL}}/rpc/mark_thread_escalated",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_tenant_id: $node[\"Normalize Instagram Event\"].json.tenant_id, p_channel: \"instagram\", p_thread_id: $node[\"Normalize Instagram Event\"].json.thread_id, p_reason: \"bot_handoff_or_escalation\", p_metadata: { source: \"n8n_demo_rag_instagram\", last_user_message: $node[\"Normalize Instagram Event\"].json.message_text } } }}",
        "options": {}
      }
    },
    {
      "id": "sticky-architecture-overview",
      "name": "Sticky Note - Architecture Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        -640
      ],
      "parameters": {
        "content": "## Instagram DM RAG bot\nInbound Instagram webhook -> normalize -> Supabase thread state -> tenant/thread context -> intent -> Supabase pgvector retrieval -> OpenAI reply -> Instagram send -> audit log.\n\nSecrets stay in n8n/.env only. Public repo exports use env references.",
        "height": 260,
        "width": 520,
        "color": 4
      }
    },
    {
      "id": "sticky-supabase-rag",
      "name": "Sticky Note - Supabase RAG Only",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -650
      ],
      "parameters": {
        "content": "## Supabase native vector memory\nUse `documents.embedding vector(1536)` plus RPC retrieval. Do not add external vector DBs, AWS/S3 wrappers, or local embeddings for this flow.\n\n`conversation_events` = audit log.\n`thread_states` = current bot routing state.",
        "height": 260,
        "width": 520,
        "color": 5
      }
    },
    {
      "id": "sticky-escalation-reset",
      "name": "Sticky Note - Operator Reset",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -650
      ],
      "parameters": {
        "content": "## Escalation silence rule\nWhen the bot escalates, `thread_states.status` becomes `escalated`. Future messages in the same IG thread are logged but receive no bot reply.\n\nReset in Supabase SQL when a human wants bot replies again:\n`select public.reset_thread_escalation('demo', 'instagram', 'THREAD_ID', 'operator', 'ready for bot again');`",
        "height": 300,
        "width": 620,
        "color": 3
      }
    }
  ],
  "connections": {
    "Instagram Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Instagram Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Instagram Event": {
      "main": [
        [
          {
            "node": "Is Instagram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram Message": {
      "main": [
        [
          {
            "node": "Get Thread State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Ask Intent": {
      "main": [
        [
          {
            "node": "Log User Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Handoff Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Message": {
      "main": [
        [
          {
            "node": "Create Message Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Message Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding": {
      "main": [
        [
          {
            "node": "Match Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Documents": {
      "main": [
        [
          {
            "node": "Build Retrieval Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retrieval Context": {
      "main": [
        [
          {
            "node": "Should Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Escalate": {
      "main": [
        [
          {
            "node": "Build Escalation Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Escalation Reply": {
      "main": [
        [
          {
            "node": "Log Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Handoff": {
      "main": [
        [
          {
            "node": "Can Send Handoff Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Thread Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply": {
      "main": [
        [
          {
            "node": "Parse Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply": {
      "main": [
        [
          {
            "node": "Can Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Log Assistant Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Handoff Intent": {
      "main": [
        [
          {
            "node": "Build Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Handoff Reply": {
      "main": [
        [
          {
            "node": "Log Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Other Messages": {
      "main": [
        [
          {
            "node": "Log Other Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Other Reply": {
      "main": [
        [
          {
            "node": "Can Send Other Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant Settings": {
      "main": [
        [
          {
            "node": "Get Thread Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread Context": {
      "main": [
        [
          {
            "node": "Classify Message Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Message Intent": {
      "main": [
        [
          {
            "node": "Is Ask Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Webhook Verification": {
      "main": [
        [
          {
            "node": "Build Verification Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Verification Response": {
      "main": [
        [
          {
            "node": "Respond Verification Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Dry Run Instagram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Instagram Reply": {
      "main": [
        [
          {
            "node": "Log Assistant Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Send Handoff Reply": {
      "main": [
        [
          {
            "node": "Dry Run Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Handoff Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Send Other Reply": {
      "main": [
        [
          {
            "node": "Dry Run Other Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Other Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread State": {
      "main": [
        [
          {
            "node": "Escalation Silence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Silence Gate": {
      "main": [
        [
          {
            "node": "Get Tenant Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Muted Escalated Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Muted Escalated Message": {
      "main": [
        [
          {
            "node": "Silent: Already Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "default"
  }
}
