workflows/internal-rag-bot-test-harness.json
{
  "name": "Internal: RAG Bot Test Harness",
  "nodes": [
    {
      "parameters": {
        "content": "Internal bot-brain test workflow. This workflow is separate from Instagram and Telegram. It should never send external channel messages. Use it to validate Supabase RAG, OpenAI response generation, logging, and escalation silence behavior.",
        "height": 220,
        "width": 460,
        "color": 4
      },
      "id": "sticky-internal-overview",
      "name": "Sticky Note - Internal Test Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal-rag-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "internal-test-webhook",
      "name": "Internal Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        80
      ],
      "notes": "POST JSON: {\"message\":\"...\",\"thread_id\":\"local-test-001\",\"tenant_id\":\"demo\"}. Include header x-internal-test-token matching INTERNAL_TEST_TOKEN if this workflow is activated."
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst headers = $json.headers || {};\nconst configuredToken = String($env.INTERNAL_TEST_TOKEN || '');\nconst providedToken = String(headers['x-internal-test-token'] || headers['X-Internal-Test-Token'] || body.internal_test_token || '');\nconst authorized = configuredToken.length >= 24 && providedToken === configuredToken;\nreturn [{ json: {\n  authorized,\n  tenant_id: body.tenant_id || $env.DEFAULT_TENANT_ID || 'demo',\n  channel: 'internal_test',\n  thread_id: body.thread_id || body.thread || `internal-${Date.now()}`,\n  message_text: body.message_text || body.message || body.text || body.query || body.prompt || '',\n  reset: body.reset === true || body.action === 'reset',\n  received_at: new Date().toISOString(),\n  raw_request: body\n}}];"
      },
      "id": "normalize-internal-test",
      "name": "Normalize Internal Test Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        80
      ],
      "notes": "Normalizes a channel-free test request. Uses channel=internal_test so test state does not mutate production Instagram threads."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "authorized-internal-test",
              "leftValue": "={{$json.authorized ? 'yes' : 'no'}}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-authorized-internal-test",
      "name": "Is Authorized Internal Test",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        80
      ],
      "notes": "Security gate for the optional public webhook. If INTERNAL_TEST_TOKEN is missing or the request token does not match, the workflow stops before OpenAI or Supabase work."
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, status: 'unauthorized', message: 'Set INTERNAL_TEST_TOKEN in n8n and pass it as x-internal-test-token.' } }];"
      },
      "id": "return-unauthorized",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "notes": "Terminal branch. No external calls are made."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/get_thread_state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_tenant_id: $json.tenant_id, p_channel: $json.channel, p_thread_id: $json.thread_id } }}",
        "options": {}
      },
      "id": "internal-get-thread-state",
      "name": "Get Internal Thread State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -40
      ],
      "notes": "Reads escalation state for channel=internal_test. Escalated threads should not repeat handoff replies."
    },
    {
      "parameters": {
        "jsCode": "const req = $('Normalize Internal Test Request').first().json;\nconst state = $json || {};\nif (req.reset) {\n  return [{ json: { ...req, thread_state: state, reset_requested: true, should_process: false, silent: false } }];\n}\nconst silent = state.status === 'escalated' && state.silence_after_escalation !== false;\nreturn [{ json: { ...req, thread_state: state, reset_requested: false, should_process: !silent, silent } }];"
      },
      "id": "internal-build-state-decision",
      "name": "Build State Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -40
      ],
      "notes": "Converts thread state into either process, reset, or silent terminal behavior."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "can-process-internal-test",
              "leftValue": "={{$json.should_process ? 'process' : ($json.reset_requested ? 'reset' : 'silent')}}",
              "rightValue": "process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "internal-process-gate",
      "name": "Internal Process Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -40
      ],
      "notes": "True branch continues to RAG. False branch returns silent/reset instructions."
    },
    {
      "parameters": {
        "jsCode": "if ($json.reset_requested) {\n  return [{ json: { ok: true, status: 'reset_requested', message: 'Use the local CLI or Supabase RPC reset_thread_escalation to reset this thread.', thread_id: $json.thread_id, channel: $json.channel } }];\n}\nreturn [{ json: { ok: true, status: 'silent_already_escalated', response: null, thread_id: $json.thread_id, channel: $json.channel, reset_hint: `select public.reset_thread_escalation('${$json.tenant_id}', '${$json.channel}', '${$json.thread_id}', 'operator', 'handoff complete');` } }];"
      },
      "id": "return-silent-or-reset",
      "name": "Return Silent Or Reset Hint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ],
      "notes": "Terminal no-send branch for already-escalated internal test threads."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.OPENAI_EMBEDDING_MODEL || 'text-embedding-3-small', input: $json.message_text } }}",
        "options": {}
      },
      "id": "internal-create-query-embedding",
      "name": "Create Internal Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -120
      ],
      "notes": "Creates the query embedding for Supabase pgvector retrieval."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/match_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_tenant_id: $('Normalize Internal Test Request').first().json.tenant_id, query_embedding: $json.data[0].embedding, match_count: Number($env.SUPABASE_MATCH_COUNT || 5), min_similarity: Math.max(0.05, Math.min(Number($env.SUPABASE_MIN_SIMILARITY || 0.10), 0.30)) } }}",
        "options": {}
      },
      "id": "internal-match-documents",
      "name": "Match Internal Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -120
      ],
      "notes": "Retrieves private company memory from native Supabase pgvector. No local vector store and no S3/AWS vector wrapper.",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const req = $('Normalize Internal Test Request').first().json;\nconst inputItems = typeof $input !== 'undefined' ? $input.all() : [];\nconst rawDocs = inputItems.flatMap((item) => {\n  const value = item && item.json;\n  if (Array.isArray(value)) return value;\n  if (value && Array.isArray(value.rows)) return value.rows;\n  return value ? [value] : [];\n});\nconst docs = rawDocs\n  .filter((row) => row && typeof row === 'object' && (row.id || row.chunk_text || row.similarity !== undefined))\n  .map((row) => ({\n    ...row,\n    similarity: Number(row.similarity || 0),\n    chunk_text: String(row.chunk_text || row.content || '').trim(),\n  }))\n  .filter((row) => row.chunk_text.length > 0)\n  .sort((a, b) => Number(b.similarity || 0) - Number(a.similarity || 0));\n\nconst messageText = String(req.message_text || '').trim();\nconst lowerMessage = messageText.toLowerCase();\nconst publicUsdPriceAnchors = [\n  ['Quick Workflow Audit', '$165', 'fast diagnosis of one workflow, funnel, bot, or CRM handoff'],\n  ['Lead Response / Reply Audit', '$230', 'audit of how inbound leads are answered and where sales are lost'],\n  ['Deep Automation Audit', '$360', 'deeper map of automations, risks, priorities, and implementation sequence'],\n  ['Content Publishing Automation', '$745', 'automation for publishing or repurposing content across channels'],\n  ['API Workflow Build Sprint', '$1,515', 'focused build sprint for one production workflow with API integrations'],\n  ['AI Booking + CRM System', '$3,180', 'AI assistant connected to booking, CRM, lead status, and follow-up logic'],\n  ['Multi-channel Lead Handling System', '$5,615', 'Instagram/Telegram/other channel lead handling with routing, memory, analytics, and handoff']\n];\nconst publicPriceContext = 'Public USD price anchors for initial sales qualification:\\n' + publicUsdPriceAnchors.map((row) => '- ' + row[0] + ' вҖ” ' + row[1] + ': ' + row[2]).join('\\n');\n\nfunction hasCommercialOrOperationalIntent(text) {\n  const value = String(text || '');\n  return /\\b(service|services|offer|offers|package|packages|price|pricing|cost|quote|proposal|budget|website|site|landing|shop|store|ecommerce|build|automation|automate|ai|bot|chatbot|instagram|telegram|crm|lead|leads|sales|funnel|payment|payments|marketplace|content|support|operations|workflow|process|audit|consult|problem|business|company|customer|client|booking|order|integration|api|dm|direct message|reply|inbox)\\b/i.test(value)\n    || /СғСҒР»СғРі|СҒРөСҖРІРёСҒ|РҝСҖРөРҙР»РҫР¶|РҝР°РәРөСӮ|СҶРөРҪ|РҝСҖР°Р№СҒ|СҒСӮРҫРёРј|РұСҺРҙР¶РөСӮ|СҒР°Р№СӮ|Р»РөРҪРҙРёРҪРі|РјР°РіР°Р·РёРҪ|Р°РІСӮРҫРјР°СӮРёР·Р°СҶ|РұРҫСӮ|СҮР°СӮ.?РұРҫСӮ|РёРҪСҒСӮР°РіСҖР°Рј|СӮРөР»РөРіСҖР°Рј|crm|СҒСҖРј|Р»РёРҙ|РҝСҖРҫРҙР°Р¶|РІРҫСҖРҫРҪРә|РҫРҝР»Р°СӮ|РјР°СҖРәРөСӮРҝР»РөР№СҒ|РәРҫРҪСӮРөРҪСӮ|РҝРҫРҙРҙРөСҖР¶Рә|РҝСҖРҫСҶРөСҒСҒ|РұРёР·РҪРөСҒ|РәРҫРјРҝР°РҪ|РәР»РёРөРҪСӮ|Р·Р°СҸРІРә|Р·Р°РәР°Р·|РёРҪСӮРөРіСҖР°СҶ|api|Р°РҝРё|РҙРёСҖРөРәСӮ|СҒРҫРҫРұСүРөРҪ|РҫСӮРІРөСӮ/i.test(value)\n    || /иҮӘеҠЁ|иҮӘеӢ•|жңәеҷЁдәә|ж©ҹеҷЁдәә|е®ўжңҚ|з§ҒдҝЎ|ж¶ҲжҒҜ|жҠҘд»·|е ұеғ№|д»·ж ј|еғ№ж ј|зҪ‘з«ҷ|з¶Із«ҷ|й”Җе”®|йҠ·е”®|е®ўжҲ·|е®ўжҲ¶|зәҝзҙў|з·ҡзҙў|ж”Ҝд»ҳ|жөҒзЁӢ|дёҡеҠЎ|жҘӯеӢҷ|йӣҶжҲҗ/i.test(value)\n    || /tб»ұ Д‘б»ҷng|tu dong|bot|chatbot|instagram|telegram|crm|khГЎch hГ ng|khach hang|bГЎo giГЎ|bao gia|giГЎ|gia|website|trang web|lead|bГЎn hГ ng|ban hang|thanh toГЎn|thanh toan|tГӯch hб»Јp|tich hop/i.test(value);\n}\n\nfunction isConversationStarter(text) {\n  const value = String(text || '').trim();\n  return /^(?:hi|hello|hey|yo)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^good\\s*(?:morning|afternoon|evening)(?:[\\s!.?,;:]+|$)/i.test(value)\n    || /^(?:РҝСҖРёРІРөСӮ|Р·РҙСҖР°РІСҒСӮРІСғР№|Р·РҙСҖР°РІСҒСӮРІСғР№СӮРө|РҙРҫРұСҖСӢР№|РҙРҫРұСҖРҫРө)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:hola|bonjour|hallo|ciao|xin chao|chao|chГ o)(?:[\\s!.?,;:]+|$)/iu.test(value)\n    || /^(?:дҪ еҘҪ|жӮЁеҘҪ)(?:[\\s!.?,;:пјҢгҖӮпјҒпјҹгҖҒ]+|$)/u.test(value);\n}\nfunction hasHardEscalationSignal(text) {\n  const value = String(text || '');\n  const explicitEnglishHandoff = /\\b(human|operator|real person|live agent|escalate|handover|transfer me|connect me|talk to (?:a )?(?:human|person|agent|operator|manager))\\b/i.test(value);\n  const sensitiveEnglish = /\\b(complaint|refund|chargeback|legal|lawyer|lawsuit|contract dispute|angry|urgent|emergency|data deletion|gdpr|privacy request|security incident|account access|password|billing dispute)\\b/i.test(value);\n  const explicitRussianHandoff = /(?:РҝРҫРҙРәР»СҺСҮ(?:Рё|РёСӮРө)?|РҝРҫР·РҫРІРё(?:СӮРө)?|РҙР°Р№(?:СӮРө)?|РҪСғР¶(?:РөРҪ|РҪР°)|С…РҫСҮСғ|РҝРөСҖРөРІРөРҙ(?:Рё|РёСӮРө)|СҒРҫРөРҙРёРҪ(?:Рё|РёСӮРө)|РҝРөСҖРөРҙР°Р№(?:СӮРө)?|РҝРөСҖРөРҙР°СӮСҢ|РҝРөСҖРөРәР»СҺСҮРё(?:СӮРө)?).{0,50}(?:РҫРҝРөСҖР°СӮРҫСҖ|СҮРөР»РҫРІРөРә|РјРөРҪРөРҙР¶РөСҖ|СҒРҝРөСҶРёР°Р»РёСҒСӮ|Р¶РёРІРҫР№|Р¶РёРІРҫРіРҫ)|(?:РҫРҝРөСҖР°СӮРҫСҖ|СҮРөР»РҫРІРөРә|РјРөРҪРөРҙР¶РөСҖ|СҒРҝРөСҶРёР°Р»РёСҒСӮ).{0,30}(?:РҝРҫР·РІРҫРҪРёСӮ|РҫСӮРІРөСӮРёСӮ|СҒРІСҸР¶РөСӮСҒСҸ|РҪСғР¶РөРҪ|РҪСғР¶РҪР°)/iu.test(value);\n  const sensitiveRussian = /Р¶Р°Р»РҫРұ|РІРҫР·РІСҖР°СӮ|СҮР°СҖРҙР¶РұРөРә|СҺСҖРёСҒСӮ|СҒСғРҙ|РҙРҫРіРҫРІРҫСҖ.*СҒРҝРҫСҖ|СҒСҖРҫСҮРҪРҫ|СҚРәСҒСӮСҖРөРҪРҪРҫ|СғРҙР°Р».*РҙР°РҪРҪ|РҝРөСҖСҒРҫРҪР°Р»СҢРҪ.*РҙР°РҪРҪ|РҙРҫСҒСӮСғРҝ.*Р°РәРәР°СғРҪСӮ|РҝР°СҖРҫР»|СҒРҝРҫСҖ.*РҫРҝР»Р°СӮ/iu.test(value);\n  const explicitChineseHandoff = /иҪ¬дәәе·Ҙ|иҪүдәәе·Ҙ|дәәе·Ҙе®ўжңҚ|зңҹдәәе®ўжңҚ|жүҫе®ўжңҚ|дәәе·ҘжңҚеҠЎ|дәәе·ҘжңҚеӢҷ/.test(value);\n  const sensitiveChinese = /жҠ•иҜү|жҠ•иЁҙ|йҖҖж¬ҫ|зҙ§жҖҘ|з·ҠжҖҘ|жі•еҫӢ|еҫӢеёҲ|еҫӢеё«|йҡҗз§Ғ|йҡұз§Ғ|еҲ йҷӨж•°жҚ®|еҲӘйҷӨиіҮж–ҷ|е®үе…Ё|еҜҶз Ғ|еҜҶзўј/.test(value);\n  const explicitVietnameseHandoff = /(?:gбә·p|gap|nГіi chuyб»Үn|noi chuyen|chuyб»ғn|chuyen).{0,40}(?:nhГўn viГӘn|nhan vien|ngЖ°б»қi thбәӯt|nguoi that|tЖ° vбәҘn viГӘn|tu van vien|hб»— trб»Ј viГӘn|ho tro vien)/i.test(value);\n  const sensitiveVietnamese = /khiбәҝu nбәЎi|khieu nai|hoГ n tiб»Ғn|hoan tien|khбә©n cбәҘp|khan cap|phГЎp lГҪ|phap ly|riГӘng tЖ°|rieng tu|xГіa dб»Ҝ liб»Үu|xoa du lieu|bбәЈo mбәӯt|bao mat|mбәӯt khбә©u|mat khau/i.test(value);\n\n  return explicitEnglishHandoff || sensitiveEnglish || explicitRussianHandoff || sensitiveRussian || explicitChineseHandoff || sensitiveChinese || explicitVietnameseHandoff || sensitiveVietnamese;\n}\n\nfunction isOffTopicMessage(text) {\n  const value = String(text || '');\n  if (!value.trim()) return false;\n  if (isConversationStarter(value) || hasCommercialOrOperationalIntent(value)) return false;\n  return /\\b(weather|forecast|temperature|rain|snow|news|sports|football|basketball|movie|recipe|joke|crypto price|bitcoin price|stock price|time now|date today)\\b/i.test(value)\n    || /РҝРҫРіРҫРҙ|РҝСҖРҫРіРҪРҫР·|СӮРөРјРҝРөСҖР°СӮСғСҖ|РҪРҫРІРҫСҒСӮ|СҒРҝРҫСҖСӮ|С„СғСӮРұРҫР»|РұР°СҒРәРөСӮРұРҫР»|С„РёР»СҢРј|СҖРөСҶРөРҝСӮ|Р°РҪРөРәРҙРҫСӮ|СҲСғСӮРә|РәСғСҖСҒ РұРёСӮРәРҫРёРҪ|РұРёСӮРәРҫРёРҪ|Р°РәСҶРё[СҸРё]|СҒРәРҫР»СҢРәРҫ РІСҖРөРјРөРҪРё|РҙР°СӮР°/i.test(value)\n    || /еӨ©ж°”|еӨ©ж°Ј|ж–°й—»|ж–°иҒһ|дҪ“иӮІ|й«”иӮІ|з”өеҪұ|йӣ»еҪұ|иҸңи°ұ|иҸңиӯң|з¬‘иҜқ|з¬‘и©ұ|жҜ”зү№еёҒ|жҜ”зү№е№Ј|иӮЎзҘЁ|еҮ зӮ№|е№ҫй»һ/i.test(value)\n    || /thб»қi tiбәҝt|thoi tiet|tin tб»©c|tin tuc|thб»ғ thao|the thao|phim|cГҙng thб»©c|cong thuc|truyб»Үn cЖ°б»қi|truyen cuoi|bitcoin|chб»©ng khoГЎn|chung khoan/i.test(value);\n}\n\nfunction inferLanguageKey(message) {\n  const text = String(message || '').trim();\n  if ((text.match(/[\\u3400-\\u9FFF]/g) || []).length >= 2) return 'zh';\n  if ((text.match(/[Рҗ-РҜР°-СҸРҒС‘]/g) || []).length >= 2) return 'ru';\n  if (/[ДғГўД‘ГӘГҙЖЎЖ°ДӮГӮДҗГҠГ”Ж ЖҜГ ГЎбәЈГЈбәЎбәұбәҜбәібәөбә·бә§бәҘбә©бә«бәӯГЁГ©бә»бәҪбә№б»Ғбәҝб»ғб»…б»ҮГ¬Гӯб»үД©б»ӢГІГіб»ҸГөб»Қб»“б»‘б»•б»—б»ҷб»қб»ӣб»ҹб»Ўб»ЈГ№Гәб»§Е©б»Ҙб»«б»©б»ӯб»Ҝб»ұб»іГҪб»·б»№б»ө]/.test(text)) return 'vi';\n  return 'en';\n}\n\nfunction inferResponseLanguage(message) {\n  const key = inferLanguageKey(message);\n  if (key === 'zh') return 'Chinese/Cantonese matching the customer message';\n  if (key === 'ru') return 'Russian';\n  if (key === 'vi') return 'Vietnamese';\n  return 'English';\n}\n\nfunction inferPreferredCurrency(text) {\n  const value = String(text || '');\n  const rules = [\n    ['USD', /\\b(usd|us\\s*dollars?|dollars?|usd\\$|\\$)\\b/i],\n    ['HKD', /\\b(hkd|hk\\$|hong\\s*kong\\s*dollars?)\\b|жёҜеёҒ|жёҜе№Ј/i],\n    ['EUR', /\\b(eur|euro|euros?)\\b|вӮ¬/i],\n    ['GBP', /\\b(gbp|pounds?|sterling)\\b|ВЈ/i],\n    ['AUD', /\\b(aud|australian\\s*dollars?)\\b/i],\n    ['CAD', /\\b(cad|canadian\\s*dollars?)\\b/i],\n    ['SGD', /\\b(sgd|singapore\\s*dollars?)\\b/i],\n    ['CNY', /\\b(cny|rmb|yuan)\\b|дәәж°‘еёҒ|дәәж°‘е№Ј/i],\n    ['JPY', /\\b(jpy|yen)\\b|ВҘ/i],\n    ['VND', /\\b(vnd|dong|vietnamese\\s*dong)\\b|вӮ«/i],\n    ['THB', /\\b(thb|baht)\\b/i],\n    ['AED', /\\b(aed|dirham|dirhams)\\b/i],\n    ['INR', /\\b(inr|rupees?)\\b/i],\n    ['RUB', /\\b(rub|rouble|ruble|rubles?)\\b|СҖСғРұ|вӮҪ/i],\n  ];\n  const match = rules.find(([, regex]) => regex.test(value));\n  return match ? match[0] : 'USD';\n}\n\nfunction localizedEscalationReply(key) {\n  const replies = {\n    ru: 'РҹРөСҖРөРҙР°СҺ РҙРёР°Р»РҫРі СҮРөР»РҫРІРөРәСғ-РҫРҝРөСҖР°СӮРҫСҖСғ. Р”Р°Р»СҢСҲРө РҪРө РұСғРҙСғ РҝРҫРІСӮРҫСҖСҸСӮСҢ СҚСӮРҫ СҒРҫРҫРұСүРөРҪРёРө, СҮСӮРҫРұСӢ РҪРө РјРөСҲР°СӮСҢ РҫРҝРөСҖР°СӮРҫСҖСғ.',\n    zh: 'жҲ‘дјҡжҠҠиҝҷж®өеҜ№иҜқиҪ¬з»ҷдәәе·Ҙе®ўжңҚгҖӮдёәдәҶдёҚжү“жү°дәәе·Ҙи·ҹиҝӣпјҢжҲ‘дёҚдјҡйҮҚеӨҚеҸ‘йҖҒиҝҷжқЎжҸҗзӨәгҖӮ',\n    vi: 'TГҙi sбәҪ chuyб»ғn cuб»ҷc trГІ chuyб»Үn nГ y cho nhГўn viГӘn phб»Ҙ trГЎch. TГҙi sбәҪ khГҙng lбә·p lбәЎi thГҙng bГЎo nГ y Д‘б»ғ khГҙng cбәЈn trб»ҹ ngЖ°б»қi phб»Ҙ trГЎch.',\n    en: 'I am handing this conversation to a human operator. I will not repeat this message so the operator can continue cleanly.'\n  };\n  return replies[key] || replies.en;\n}\n\nfunction localizedGreetingReply(key) {\n  const replies = {\n    ru: 'РҹСҖРёРІРөСӮ! РҜ РҝРҫРјРҫСүРҪРёРә Sell.Systems РҝРҫ AI-Р°РІСӮРҫРјР°СӮРёР·Р°СҶРёРё, РҝСҖРҫРҙР°Р¶Р°Рј, CRM, Instagram/Telegram-РұРҫСӮР°Рј, СҒР°Р№СӮР°Рј Рё РІРҫСҖРҫРҪРәР°Рј. Р§СӮРҫ СҒРөР№СҮР°СҒ РІР°Р¶РҪРөРө СғР»СғСҮСҲРёСӮСҢ: РұРҫР»СҢСҲРө Р»РёРҙРҫРІ, СҒРәРҫСҖРҫСҒСӮСҢ РҫСӮРІРөСӮР° РәР»РёРөРҪСӮР°Рј, CRM-РҝСҖРҫСҶРөСҒСҒ РёР»Рё СҒР°Р№СӮ/РІРҫСҖРҫРҪРәСғ?',\n    zh: 'дҪ еҘҪпјҒжҲ‘жҳҜ Sell.Systems зҡ„ AI иҮӘеҠЁеҢ–е’Ңй”Җе”®зі»з»ҹеҠ©жүӢпјҢеҸҜд»Ҙеё®еҠ©и§„еҲ’ Instagram/Telegram жңәеҷЁдәәгҖҒCRMгҖҒзҪ‘з«ҷ/жјҸж–—е’ҢзәҝзҙўеӨ„зҗҶгҖӮдҪ зҺ°еңЁжңҖжғіе…Ҳж”№е–„е“ӘдёҖеқ—пјҡжӣҙеӨҡзәҝзҙўгҖҒеӣһеӨҚйҖҹеәҰгҖҒCRM жөҒзЁӢпјҢиҝҳжҳҜзҪ‘з«ҷ/й”Җе”®жјҸж–—пјҹ',\n    vi: 'Xin chГ o! TГҙi lГ  trб»Ј lГҪ Sell.Systems vб»Ғ tб»ұ Д‘б»ҷng hГіa AI, bГЎn hГ ng, CRM, bot Instagram/Telegram, website vГ  phб»…u bГЎn hГ ng. BбәЎn muб»‘n cбәЈi thiб»Үn phбә§n nГ o trЖ°б»ӣc: thГӘm lead, tб»‘c Д‘б»ҷ phбәЈn hб»“i, quy trГ¬nh CRM hay website/phб»…u?',\n    en: 'Hi! I am the Sell.Systems assistant for AI automation, sales/CRM workflows, Instagram/Telegram bots, websites, funnels, and lead handling. What should we improve first: more leads, faster replies, CRM process, or website/funnel?'\n  };\n  return replies[key] || replies.en;\n}\n\nfunction localizedRedirectReply(key) {\n  const replies = {\n    ru: 'РҜ РҪРө РҝСҖРҫРІРөСҖСҸСҺ РҝРҫРіРҫРҙСғ, РҪРҫРІРҫСҒСӮРё РёР»Рё СҒР»СғСҮР°Р№РҪСӢРө СӮРөРјСӢ. РңРҫРіСғ РҝРҫРјРҫСҮСҢ РҝРҫ Р°РІСӮРҫРјР°СӮРёР·Р°СҶРёРё, Instagram/Telegram-РұРҫСӮР°Рј, CRM, СҒР°Р№СӮР°Рј, РІРҫСҖРҫРҪРәР°Рј Рё РҝСҖРҫРҙР°Р¶Р°Рј. РҡР°РәРҫР№ РұРёР·РҪРөСҒ-СҖРөР·СғР»СҢСӮР°СӮ С…РҫСӮРёСӮРө СғР»СғСҮСҲРёСӮСҢ?',\n    zh: 'жҲ‘дёҚеӨ„зҗҶеӨ©ж°”гҖҒж–°й—»жҲ–йҡҸжңәдё»йўҳгҖӮжҲ‘еҸҜд»Ҙеё®дҪ и§„еҲ’иҮӘеҠЁеҢ–гҖҒInstagram/Telegram жңәеҷЁдәәгҖҒCRMгҖҒзҪ‘з«ҷгҖҒй”Җе”®жјҸж–—е’ҢзәҝзҙўеӨ„зҗҶгҖӮдҪ жғіж”№е–„е“ӘдёӘдёҡеҠЎз»“жһңпјҹ',\n    vi: 'TГҙi khГҙng xб»ӯ lГҪ thб»қi tiбәҝt, tin tб»©c hoбә·c chб»§ Д‘б»Ғ ngбә«u nhiГӘn. TГҙi cГі thб»ғ hб»— trб»Ј vб»Ғ tб»ұ Д‘б»ҷng hГіa, bot Instagram/Telegram, CRM, website, phб»…u bГЎn hГ ng vГ  xб»ӯ lГҪ lead. BбәЎn muб»‘n cбәЈi thiб»Үn kбәҝt quбәЈ kinh doanh nГ o?',\n    en: 'I do not handle weather, news, or random topics. I can help with automation, Instagram/Telegram bots, CRM, websites, funnels, and sales systems. What business result do you want to improve?'\n  };\n  return replies[key] || replies.en;\n}\n\nconst languageKey = inferLanguageKey(messageText);\nconst conversationStarter = isConversationStarter(messageText);\nconst commercialIntent = hasCommercialOrOperationalIntent(lowerMessage);\nconst hardHandoff = hasHardEscalationSignal(lowerMessage);\nconst offTopic = isOffTopicMessage(messageText);\nconst simpleGreeting = conversationStarter && !commercialIntent && messageText.split(/\\s+/).filter(Boolean).length <= 3 && messageText.length <= 32;\nconst preferredCurrency = inferPreferredCurrency(messageText);\nconst responseLanguage = inferResponseLanguage(messageText);\nconst confidence = docs.reduce((max, row) => Math.max(max, Number(row.similarity || 0)), 0);\n\nconst retrievedContext = docs\n  .map((row, index) => {\n    const sourceLabel = row.source_key || row.source_type || row.id || ('source_' + (index + 1));\n    return 'Source ' + (index + 1) + ': ' + sourceLabel + ' (similarity ' + Number(row.similarity || 0).toFixed(3) + ')\\n' + row.chunk_text;\n  })\n  .join('\\n\\n---\\n\\n');\n\nconst semanticFallbackContext = [\n  'Meaning-first fallback for inbound commercial conversations when Supabase RAG is weak, missing, or not directly matched.',\n  publicPriceContext,\n  'Primary goal: behave like a capable sales/discovery assistant, not a rigid FAQ bot. Understand the customer intent across any language and keep the conversation moving toward a qualified next step.',\n  'Greeting rule: for simple greetings or conversation starters, do not answer generically. Briefly position Sell.Systems around AI automation, sales/CRM workflows, Instagram/Telegram bots, websites/funnels, and lead handling, then ask which area the customer wants to improve first.',\n  'Allowed offer families: AI automation, Instagram/Telegram DM assistants, lead-response systems, CRM/workflow automation, websites, landing pages, sales funnels, ecommerce/shop builds, payment flows, content/marketplace operations, and customer-support automations.',\n  'Discovery rule: if a customer asks for something broad or unclear, infer the likely business problem, explain the practical outcome in one or two sentences, then ask one concrete qualification question. Do not give up because exact RAG text is missing.',\n  'Pricing rule: public initial price anchors are in USD. For pricing questions, name 2-4 relevant USD anchors directly before asking the next scoping question. Do not answer only with вҖңdependsвҖқ.',\n  'Currency rule: default public pricing currency is USD for every language. Use another currency only if the customer explicitly asks for that currency. Do not infer currency from language alone, including Chinese/Cantonese. Do not use HKD/HK$/жёҜеёҒ/жёҜе№Ј unless the customer explicitly asks for Hong Kong dollars/HKD/жёҜеёҒ/жёҜе№Ј or says they need Hong Kong-local billing. If retrieved context contains non-USD prices but preferred/requested currency is USD, ignore those non-USD prices and quote the public USD anchors. If exact conversion is not in retrieved context, quote the USD base and say final local-currency invoice can be calculated after scope confirmation.',\n  'Topic guardrail: if the message is not clearly related to Sell.Systems services, briefly steer back to automation, websites, bots, or sales systems and ask what business result they want. Do not escalate immediately for normal ambiguity or off-topic small talk.',\n  'Escalate only for explicit human handoff requests, legal/refund/complaint/urgent/sensitive account-specific cases, or after repeated failed attempts where the bot cannot safely help.'\n].join('\\n');\n\nconst context = retrievedContext ? (retrievedContext + '\\n\\n---\\n\\n' + publicPriceContext) : semanticFallbackContext;\nconst deterministicReplyText = hardHandoff ? localizedEscalationReply(languageKey) : offTopic ? localizedRedirectReply(languageKey) : simpleGreeting ? localizedGreetingReply(languageKey) : '';\n\nreturn [{\n  json: {\n    ...req,\n    docs,\n    confidence,\n    context,\n    sales_intent: commercialIntent,\n    semantic_fallback_used: !retrievedContext,\n    sales_fallback_used: !retrievedContext,\n    preferred_currency: preferredCurrency,\n    response_language: responseLanguage,\n    deterministic_reply_text: deterministicReplyText,\n    deterministic_status: hardHandoff ? 'escalated' : 'answered',\n    deterministic: !!deterministicReplyText,\n    simple_greeting: simpleGreeting,\n    requires_handoff: hardHandoff,\n    off_topic_redirect: offTopic && !hardHandoff,\n    escalation_decision_reason: hardHandoff ? 'explicit_or_sensitive_handoff_signal' : offTopic ? 'off_topic_redirect' : 'answerable_sales_or_discovery',\n  }\n}];"
      },
      "id": "internal-build-prompt-context",
      "name": "Build Internal Prompt Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -120
      ],
      "notes": "Builds a compact prompt context and confidence score from retrieved chunks."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.OPENAI_CHAT_MODEL || $env.OPENAI_MODEL || 'gpt-4o-mini', temperature: 0.2, messages: [ { role: 'system', content: 'You are the official Sell.Systems inbound sales assistant test harness. Required response language: ' + ($json.response_language || 'same language as customer') + '. This controls customer-facing language only; do not use it for intent, price selection, currency, or escalation. Every customer-facing sentence must be in the required response language. If it is English, answer only in English; if Russian, answer only in Russian; if Chinese/Cantonese, answer in Chinese/Cantonese. Operate by meaning and customer intent, not by hard-coded language rules. Customers may write in any language and may request any currency. Default public pricing is USD for every language. Use another currency only if the customer explicitly asks for it. Do not infer currency from language alone, including Chinese/Cantonese. Do not use HKD/HK$/жёҜеёҒ/жёҜе№Ј unless the customer explicitly asks for Hong Kong dollars/HKD/жёҜеёҒ/жёҜе№Ј or Hong Kong-local billing. If retrieved context contains non-USD prices but the requested/default currency is USD, ignore those non-USD prices and quote the public USD anchors. If exact conversion is not available in context, quote the USD base and say local-currency conversion can be confirmed after scope. Use retrieved company context to sell and qualify inbound leads. If services, packages, audits, quote logic, or pricing guidance appear in context, answer with those details and recommend the next step. Treat every inbound interest as sales discovery: if the customer asks about automation, AI, bots, Instagram, Telegram, CRM, websites, payments, leads, content, marketplaces, operations, support, pricing, or business problems, connect it to relevant Sell.Systems offers from context, explain the practical outcome, recommend the smallest useful next step, and ask one specific qualifying question. If the user asks about prices, packages, services, costs, quotes, budgets, or what Sell.Systems offers, and retrieved context contains fixed prices, anchor prices, currency amounts, packages, product names, or offer tables, name the relevant amounts directly before saying details may vary. For broad pricing questions, give a compact menu of the most relevant retrieved offers instead of a vague depends answer. If exact pricing is missing from retrieved context, say pricing depends on scope and ask one specific qualification question. Do not escalate normal sales/service/website/pricing questions only because retrieval is weak. Escalate only for explicit human handoff, legal/refund/complaint, sensitive account-specific issues, or repeated inability to help safely. Keep it concise and practical.' }, { role: 'user', content: 'Required response language:\\n' + ($json.response_language || 'same language as customer') + '\\n\\nDefault/requested pricing currency:\\n' + ($json.preferred_currency || 'USD') + '\\n\\nCustomer message:\\n' + $json.message_text + '\\n\\nRetrieved company context:\\n' + ($json.context || 'No context') } ] } }}",
        "options": {}
      },
      "id": "internal-generate-reply",
      "name": "Generate Internal Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -160
      ],
      "notes": "Generates a response without sending it to any external channel."
    },
    {
      "parameters": {
        "jsCode": "const req = $('Build Internal Prompt Context').first().json;\nconst response = $json.choices?.[0]?.message?.content || '';\nreturn [{\n  json: {\n    ok: true,\n    status: 'answered',\n    tenant_id: req.tenant_id,\n    channel: req.channel,\n    thread_id: req.thread_id,\n    confidence: req.confidence,\n    response_language: req.response_language,\n    preferred_currency: req.preferred_currency,\n    sales_intent: req.sales_intent,\n    semantic_fallback: req.semantic_fallback_used,\n    deterministic: false,\n    simple_greeting: !!req.simple_greeting,\n    requires_handoff: false,\n    off_topic_redirect: false,\n    escalation_decision_reason: req.escalation_decision_reason || null,\n    response,\n    matched_sources: Array.isArray(req.docs) ? req.docs.map((row) => ({ source_key: row.source_key, source_type: row.source_type, similarity: row.similarity })) : []\n  }\n}];"
      },
      "id": "return-internal-answer",
      "name": "Return Internal Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -160
      ],
      "notes": "Terminal response for internal n8n webhook callers."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "internal-deterministic-reply-present",
              "leftValue": "={{$json.deterministic_reply_text ? 'yes' : 'no'}}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "internal-deterministic-reply-if",
      "name": "Has Internal Deterministic Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const req = $json;\nreturn [{\n  json: {\n    ok: true,\n    status: req.deterministic_status || 'answered',\n    tenant_id: req.tenant_id,\n    channel: req.channel,\n    thread_id: req.thread_id,\n    confidence: req.confidence,\n    response_language: req.response_language,\n    preferred_currency: req.preferred_currency,\n    sales_intent: req.sales_intent,\n    semantic_fallback: req.semantic_fallback_used,\n    deterministic: true,\n    simple_greeting: !!req.simple_greeting,\n    requires_handoff: !!req.requires_handoff,\n    off_topic_redirect: !!req.off_topic_redirect,\n    escalation_decision_reason: req.escalation_decision_reason || null,\n    response: req.deterministic_reply_text || '',\n    matched_sources: Array.isArray(req.docs) ? req.docs.map((row) => ({ source_key: row.source_key, source_type: row.source_type, similarity: row.similarity })) : []\n  }\n}];"
      },
      "id": "return-internal-deterministic-reply",
      "name": "Return Internal Deterministic Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        40
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Internal Test Webhook": {
      "main": [
        [
          {
            "node": "Normalize Internal Test Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Internal Test Request": {
      "main": [
        [
          {
            "node": "Is Authorized Internal Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized Internal Test": {
      "main": [
        [
          {
            "node": "Get Internal Thread State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Internal Thread State": {
      "main": [
        [
          {
            "node": "Build State Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build State Decision": {
      "main": [
        [
          {
            "node": "Internal Process Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Process Gate": {
      "main": [
        [
          {
            "node": "Create Internal Query Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Silent Or Reset Hint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Internal Query Embedding": {
      "main": [
        [
          {
            "node": "Match Internal Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Internal Documents": {
      "main": [
        [
          {
            "node": "Build Internal Prompt Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Internal Prompt Context": {
      "main": [
        [
          {
            "node": "Has Internal Deterministic Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Internal Reply": {
      "main": [
        [
          {
            "node": "Return Internal Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Internal Deterministic Reply": {
      "main": [
        [
          {
            "node": "Return Internal Deterministic Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Internal Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "internal-rag-bot-test-harness-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
