workflows/knowledge-ingest.json
{
  "name": "Operator: Knowledge Ingest -> Shared Brain",
  "nodes": [
    {
      "parameters": {
        "content": "# Add tenant knowledge\n\nPOST `tenant_key`, `title`, `content`, optional `source_uri`, and optional `metadata` with header `x-admin-token`.\n\nChunking, embeddings, storage, and tenant isolation belong to the Brain service. Do not put company documents or credentials into this public workflow export.",
        "width": 620,
        "height": 280,
        "color": 5
      },
      "id": "04c9528a-ff66-4d49-ab1d-902c4be65cc2",
      "name": "READ ME - Generic Knowledge Ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brain-admin/knowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b8e3c71-c546-48c0-ac59-70d9e19b1fd2",
      "name": "Knowledge Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        180
      ],
      "webhookId": "49a476c7-d8dd-44c6-a8e0-b202e5938c8f"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst supplied = headers['x-admin-token'] ?? headers['X-Admin-Token'];\nif (!$env.BRAIN_ADMIN_TOKEN || supplied !== $env.BRAIN_ADMIN_TOKEN) throw new Error('Unauthorized');\nreturn [{ json: $json.body ?? {} }];"
      },
      "id": "01c2d152-755f-4047-a248-dffe71e58b44",
      "name": "Authenticate Knowledge Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/knowledge' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_ADMIN_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "cd4c9cb5-35c7-4109-a2ed-22387c59c58f",
      "name": "Ingest Through Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "02a347c9-d90c-42f2-aad7-4cca4d096c63",
      "name": "Return Ingest Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        60,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Knowledge Ingest Webhook": {
      "main": [
        [
          {
            "node": "Authenticate Knowledge Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Knowledge Request": {
      "main": [
        [
          {
            "node": "Ingest Through Brain API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Through Brain API": {
      "main": [
        [
          {
            "node": "Return Ingest Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d068bb7d-d68d-4552-a8a1-d25b5e1cfc64",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
