workflows/knowledge-upload-to-supabase.json
{
  "name": "Knowledge Upload to Supabase",
  "nodes": [
    {
      "id": "kb_webhook_1",
      "name": "KB Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "path": "knowledge-upload",
        "httpMethod": [
          "POST"
        ],
        "multipleMethods": false,
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {
          "responseHeaders": {
            "parameters": [
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "kb_normalize_1",
      "name": "Normalize Knowledge Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const body = $json.body && typeof $json.body === 'object' ? $json.body : $json;\n\nif (!body || typeof body !== 'object') {\n  throw new Error('Request body must be valid JSON.');\n}\n\nconst tenantId = String(body.tenant_id || body.tenantId || '').trim();\nconst sourceKey = String(body.source_key || body.sourceKey || '').trim();\nconst sourceType = String(body.source_type || body.sourceType || 'document').trim();\nconst sourceText = String(body.source_text || body.sourceText || body.text || body.content || '').trim();\nconst sourceMetadata = body.metadata && typeof body.metadata === 'object' ? body.metadata : {};\nconst openai_api_key = String(body.openai_api_key || $env.OPENAI_API_KEY || '');\nconst chunkSizeInput = Number(body.kb_chunk_size || 900);\nconst overlapInput = Number(body.kb_chunk_overlap || 120);\n\nif (!tenantId) {\n  throw new Error('tenant_id is required.');\n}\n\nif (!sourceKey) {\n  throw new Error('source_key is required.');\n}\n\nif (!sourceText) {\n  throw new Error('source_text or text is required and must be non-empty.');\n}\n\nreturn [{\n  json: {\n    tenant_id: tenantId,\n    source_type: sourceType,\n    source_key: sourceKey,\n    source_text: sourceText,\n    kb_chunk_size: Number.isFinite(chunkSizeInput) && chunkSizeInput > 0 ? Math.floor(chunkSizeInput) : 900,\n    kb_chunk_overlap: Number.isFinite(overlapInput) && overlapInput >= 0 ? Math.floor(overlapInput) : 120,\n    metadata: sourceMetadata,\n    openai_api_key: String(openai_api_key || ''),\n    received_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "kb_split_1",
      "name": "Split Into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const source = $json;\nconst rawText = String(source.source_text || '');\nconst chunkSize = Number.isFinite(Number(source.kb_chunk_size)) && Number(source.kb_chunk_size) > 0\n  ? Math.floor(Number(source.kb_chunk_size))\n  : 900;\nconst overlapRaw = Number(source.kb_chunk_overlap);\nconst overlap = Number.isFinite(overlapRaw) && overlapRaw >= 0\n  ? Math.min(Math.floor(overlapRaw), Math.max(0, chunkSize - 1))\n  : 120;\n\nif (!rawText.trim()) {\n  throw new Error('source_text is empty after normalization.');\n}\n\nconst chunkStep = Math.max(1, chunkSize - overlap);\nconst chunks = [];\nfor (let i = 0, index = 0; i < rawText.length; i += chunkStep, index += 1) {\n  const chunkText = rawText.substring(i, i + chunkSize);\n  if (!chunkText.trim()) {\n    continue;\n  }\n\n  chunks.push({\n    json: {\n      ...source,\n      chunk_index: index,\n      chunk_text: chunkText,\n      chunk_char_length: chunkText.length,\n      chunk_count_guess: Math.max(1, Math.ceil(rawText.length / chunkStep))\n    }\n  });\n}\n\nif (chunks.length === 0) {\n  throw new Error('Could not create chunks from source_text.');\n}\n\nreturn chunks;"
      }
    },
    {
      "id": "kb_embed_request_1",
      "name": "Create KB Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($json.openai_api_key || $env.OPENAI_API_KEY || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  input: $json.chunk_text,\n  model: $env.OPENAI_EMBEDDING_MODEL || 'text-embedding-3-small'\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "kb_embed_parse_1",
      "name": "Parse KB Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "jsCode": "const source = $node['Split Into Chunks'].json || {};\nconst payload = $json || {};\n\nif (payload.error) {\n  throw new Error(payload.error?.message || JSON.stringify(payload.error));\n}\n\nconst embedding = payload.data?.[0]?.embedding;\nif (!Array.isArray(embedding) || embedding.length === 0) {\n  throw new Error('No embedding returned by OpenAI.');\n}\n\nconst model = payload.data?.[0]?.model || source.openai_embedding_model || source.tenant_settings?.openai_embedding_model || 'text-embedding-3-small';\n\nreturn [{\n  json: {\n    ...source,\n    embedding,\n    openai_embedding_model: model,\n    openai_usage: payload.usage || payload.data?.[0]?.usage || {}\n  }\n}];"
      }
    },
    {
      "id": "kb_insert_1",
      "name": "Insert KB Chunk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "url": "={{$env.SUPABASE_REST_URL}}/documents?on_conflict=tenant_id,source_type,source_key,chunk_index",
        "method": "POST",
        "sendBody": true,
        "options": {
          "ignoreHttpStatusErrors": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.SUPABASE_SECRET_KEY || $env.SUPABASE_PUBLISHABLE_KEY || $env.SUPABASE_ANON_KEY || '')}}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $json.tenant_id,\n  source_type: $json.source_type,\n  source_key: $json.source_key,\n  chunk_index: $json.chunk_index,\n  chunk_text: $json.chunk_text,\n  embedding: $json.embedding,\n  metadata: {\n    source_text_length: $json.source_text?.length || 0,\n    chunk_char_length: $json.chunk_char_length,\n    chunk_count_guess: $json.chunk_count_guess,\n    tenant_context: $json.tenant_id,\n    source_type: $json.source_type,\n    source_key: $json.source_key,\n    ingested_at: $json.received_at,\n    extra: $json.metadata || {}\n  }\n}) }}",
        "authentication": "none",
        "sendQuery": false,
        "provideSslCertificates": false
      }
    },
    {
      "id": "kb_response_1",
      "name": "Build Upload Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'ok',\n    tenant_id: $json.tenant_id,\n    source_key: $json.source_key,\n    chunk_index: $json.chunk_index,\n    message: 'Chunk upserted into Supabase documents table.',\n    updated_at: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "KB Upload Webhook": {
      "main": [
        [
          {
            "node": "Normalize Knowledge Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Knowledge Payload": {
      "main": [
        [
          {
            "node": "Split Into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Chunks": {
      "main": [
        [
          {
            "node": "Create KB Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create KB Embedding": {
      "main": [
        [
          {
            "node": "Parse KB Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse KB Embedding": {
      "main": [
        [
          {
            "node": "Insert KB Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert KB Chunk": {
      "main": [
        [
          {
            "node": "Build Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
