workflows/model-route-admin.json
{
  "name": "Operator: Model Route Control",
  "nodes": [
    {
      "parameters": {
        "content": "# Model failover control\n\nManual path: open `EDIT ENABLED AND PRIORITY HERE`, change only `enabled` and `priority`, then execute the workflow.\n\nAPI paths: GET or PUT the `brain-admin/model-routes` webhook using header `x-admin-token`.\n\nDefault order: Codex Spark, Codex mini. DeepSeek and OpenAI API are present but disabled. The verified OpenAI stable alias is `gpt-4.1`.\n\nProvider failure and quota errors may fall through; malformed model output and business decisions are never replaced by hard-coded sales templates.",
        "width": 700,
        "height": 340,
        "color": 5
      },
      "id": "a61919f7-6444-42b8-ac7e-5750146b5af6",
      "name": "READ ME - Human-Friendly Model Routing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        -360
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "brain-admin/model-routes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1c4a3d45-766d-448c-ace9-1c34aaf7304d",
      "name": "Get Model Routes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        20
      ],
      "webhookId": "36f174d3-dc51-4e17-a918-7d726dd13fe1"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst supplied = headers['x-admin-token'] ?? headers['X-Admin-Token'];\nif (!$env.BRAIN_ADMIN_TOKEN || supplied !== $env.BRAIN_ADMIN_TOKEN) throw new Error('Unauthorized');\nreturn [{ json: $json.body ?? {} }];"
      },
      "id": "27e30e55-b62c-4ef1-a823-72bd0739b448",
      "name": "Authenticate Get Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -570,
        20
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/admin/model-routes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_ADMIN_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "09e0d283-a52e-42dc-a858-7e9ee48dd255",
      "name": "Read Routes from Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d586161b-199d-4ca8-aa41-6301a9f20155",
      "name": "Return Current Routes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -20,
        20
      ]
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "brain-admin/model-routes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4543ffd-74bb-452c-ae5f-c60f2b9e761f",
      "name": "Put Model Routes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        180
      ],
      "webhookId": "2d028e7d-8f14-4cd8-a38f-e4e76f4d63d6"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst supplied = headers['x-admin-token'] ?? headers['X-Admin-Token'];\nif (!$env.BRAIN_ADMIN_TOKEN || supplied !== $env.BRAIN_ADMIN_TOKEN) throw new Error('Unauthorized');\nreturn [{ json: $json.body ?? {} }];"
      },
      "id": "e8a4c542-62b0-4694-a108-ce0bca5079b9",
      "name": "Authenticate Put Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -570,
        180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/admin/model-routes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_ADMIN_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "7b7f8b60-6364-4808-a1a9-4f738b1eeb5e",
      "name": "Update Routes in Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d5fab75c-40af-472b-a6e5-407b86dae568",
      "name": "Return Updated Routes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -20,
        180
      ]
    },
    {
      "parameters": {},
      "id": "e3d87150-3441-4818-acac-adfbe24b6551",
      "name": "Manual Trigger",
      "type": [
        -780,
        360
      ],
      "typeVersion": 1,
      "position": "n8n-nodes-base.manualTrigger"
    },
    {
      "parameters": {
        "jsCode": "// Lower priority number runs first. Disabled routes are skipped.\n// Never paste API keys here; keys remain in the private runtime environment.\nreturn [{ json: { routes: [\n  { id: 'codex_spark', provider: 'codex_cli', model: 'gpt-5.3-codex-spark', enabled: true, priority: 10, reasoning_effort: 'low' },\n  { id: 'codex_mini', provider: 'codex_cli', model: 'gpt-5.4-mini', enabled: true, priority: 20, reasoning_effort: 'low' },\n  { id: 'deepseek_flash', provider: 'deepseek', model: 'deepseek-chat', enabled: false, priority: 30 },\n  { id: 'openai_api', provider: 'openai', model: 'gpt-4.1', enabled: false, priority: 40 },\n  { id: 'deepseek_reasoner', provider: 'deepseek', model: 'deepseek-reasoner', enabled: false, priority: 50 },\n] } }];"
      },
      "id": "4483e7ab-2f5a-4080-a3c6-4494095a3273",
      "name": "EDIT ENABLED AND PRIORITY HERE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        360
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/admin/model-routes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_ADMIN_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "24e18055-0147-46e9-aac2-d3057a01c8dc",
      "name": "Apply Edited Routes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -230,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get Model Routes Webhook": {
      "main": [
        [
          {
            "node": "Authenticate Get Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Get Request": {
      "main": [
        [
          {
            "node": "Read Routes from Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Routes from Brain": {
      "main": [
        [
          {
            "node": "Return Current Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Model Routes Webhook": {
      "main": [
        [
          {
            "node": "Authenticate Put Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Put Request": {
      "main": [
        [
          {
            "node": "Update Routes in Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Routes in Brain": {
      "main": [
        [
          {
            "node": "Return Updated Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "EDIT ENABLED AND PRIORITY HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDIT ENABLED AND PRIORITY HERE": {
      "main": [
        [
          {
            "node": "Apply Edited Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5ab24428-4786-45f8-a583-9e82141d568c",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
