workflows/operator-escalation-reset.json
{
  "name": "Operator: Reset Conversation Escalation",
  "nodes": [
    {
      "parameters": {
        "content": "# Resume automation after human handover\n\nPOST the conversation identity and `x-admin-token`. The Brain API clears the durable pause marker. Until this reset, the model is not called and the bot remains silent.\n\nRequired body: `tenant_key` plus either `conversation_id` or `channel` + `channel_conversation_id`.",
        "width": 600,
        "height": 270,
        "color": 5
      },
      "id": "cb564f7f-9262-46a5-a1ba-9def4c11b00b",
      "name": "READ ME - Human Handover Reset",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brain-admin/escalations/reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "74e2468a-5278-4763-ab6b-82a3751e6895",
      "name": "Escalation Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        180
      ],
      "webhookId": "07c90360-2d86-4e99-aefe-8c5535ef9eb7"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst supplied = headers['x-admin-token'] ?? headers['X-Admin-Token'];\nif (!$env.BRAIN_ADMIN_TOKEN || supplied !== $env.BRAIN_ADMIN_TOKEN) throw new Error('Unauthorized');\nreturn [{ json: $json.body ?? {} }];"
      },
      "id": "5afcfb5b-7928-4966-ab42-63f258f61ae3",
      "name": "Authenticate Reset Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'http://127.0.0.1:8789').replace(/\\/$/, '') + '/v1/escalations/reset' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.BRAIN_ADMIN_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "3edcdab3-edb6-41c5-af7e-45a4cdc2784a",
      "name": "Reset Escalation in Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "9d55d9e6-6faa-4366-af89-6f07c4fd1af9",
      "name": "Return Reset Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        80,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Escalation Reset Webhook": {
      "main": [
        [
          {
            "node": "Authenticate Reset Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Reset Request": {
      "main": [
        [
          {
            "node": "Reset Escalation in Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Escalation in Brain": {
      "main": [
        [
          {
            "node": "Return Reset Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b7d6932e-e2c8-4303-a23e-ac50089475b9",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
