workflows/telegram-rag-channel-adapter.json
{
  "name": "Telegram: RAG Channel Adapter",
  "nodes": [
    {
      "parameters": {
        "content": "Telegram channel adapter\n\nPurpose: receive Telegram updates, validate Telegram webhook secret, normalize messages into the shared channel-neutral bot contract, call the shared RAG core, then send a Telegram reply.\n\nSecrets stay in .env / n8n environment only:\n- TELEGRAM_BOT_TOKEN\n- TELEGRAM_WEBHOOK_SECRET\n- INTERNAL_TEST_TOKEN\n- SUPABASE_REST_URL\n- SUPABASE_SECRET_KEY\n\nThis workflow must not contain company-specific prompts, prices, customer data, or tokens.",
        "height": 320,
        "width": 520,
        "color": 5
      },
      "id": "telegram-adapter-note",
      "name": "README - Telegram Adapter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {
          "responseCode": 200
        }
      },
      "id": "telegram-webhook-trigger",
      "name": "Telegram Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        120
      ],
      "webhookId": "telegram-rag-channel-adapter"
    },
    {
      "parameters": {
        "jsCode": "const expectedSecret = $env.TELEGRAM_WEBHOOK_SECRET;\nif (!expectedSecret) {\n  throw new Error('Missing TELEGRAM_WEBHOOK_SECRET in n8n runtime environment');\n}\n\nconst headers = $json.headers || {};\nconst body = $json.body || $json;\nconst receivedSecret = headers['x-telegram-bot-api-secret-token'] || headers['X-Telegram-Bot-Api-Secret-Token'];\n\nif (receivedSecret !== expectedSecret) {\n  return [];\n}\n\nconst message = body.message || body.edited_message || body.business_message || body.edited_business_message || body.channel_post || body.edited_channel_post;\nif (!message) {\n  return [];\n}\n\nconst text = (message.text || message.caption || '').trim();\nif (!text) {\n  return [];\n}\n\nconst chat = message.chat || {};\nconst from = message.from || message.sender_user || {};\nconst tenantId = $env.DEFAULT_TENANT_ID || $env.TENANT_ID || 'default';\n\nreturn [{\n  json: {\n    tenant_id: tenantId,\n    channel: 'telegram',\n    thread_id: String(chat.id || from.id || body.update_id),\n    sender_id: String(from.id || chat.id || body.update_id),\n    sender_username: from.username || chat.username || null,\n    sender_display_name: [from.first_name, from.last_name].filter(Boolean).join(' ') || chat.title || null,\n    message_text: text,\n    message_id: message.message_id ? String(message.message_id) : String(body.update_id),\n    telegram_chat_id: chat.id,\n    telegram_update_id: body.update_id,\n    raw_event: body\n  }\n}];"
      },
      "id": "validate-normalize-telegram",
      "name": "Validate Telegram Secret + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env[\"N8N_BASE_URL\"] + \"/webhook/internal-rag-test\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-test-token",
              "value": "={{$env[\"INTERNAL_TEST_TOKEN\"]}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $json.tenant_id, channel: $json.channel, thread_id: $json.thread_id, sender_id: $json.sender_id, sender_username: $json.sender_username, sender_display_name: $json.sender_display_name, message_text: $json.message_text, message_id: $json.message_id, raw_event: $json.raw_event }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-shared-rag-core",
      "name": "Call Shared RAG Bot Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Validate Telegram Secret + Normalize').first().json;\nconst core = $json || {};\nconst status = String(core.status || core.decision || 'answered');\nconst response = String(core.response || core.answer || core.message || '').trim();\n\nif (!response || status === 'silent' || core.silent === true) {\n  return [];\n}\n\nconst text = response.length > 4096 ? `${response.slice(0, 4050)}...` : response;\nconst needsEscalation = status === 'escalated' || core.escalated === true || core.escalate === true;\n\nreturn [{\n  json: {\n    tenant_id: normalized.tenant_id,\n    channel: 'telegram',\n    thread_id: normalized.thread_id,\n    telegram_chat_id: normalized.telegram_chat_id,\n    text,\n    status,\n    confidence: typeof core.confidence === 'number' ? core.confidence : null,\n    needs_escalation: needsEscalation,\n    escalation_reason: core.escalation_reason || core.reason || (needsEscalation ? 'telegram_human_handoff' : null),\n    escalation_summary: core.escalation_summary || core.summary || text.slice(0, 500)\n  }\n}];"
      },
      "id": "build-telegram-action",
      "name": "Build Telegram Send/State Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-escalation-marker",
              "leftValue": "={{$json.needs_escalation}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-escalation-if",
      "name": "Needs Escalation Marker?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env[\"SUPABASE_REST_URL\"] + \"/rpc/mark_thread_escalated\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env[\"SUPABASE_SECRET_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + $env[\"SUPABASE_SECRET_KEY\"]}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_tenant_id: $json.tenant_id, p_channel: \"telegram\", p_thread_id: $json.thread_id, p_reason: $json.escalation_reason || \"telegram_human_handoff\", p_summary: $json.escalation_summary || null, p_confidence: $json.confidence }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "mark-telegram-escalated",
      "name": "Mark Telegram Thread Escalated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://api.telegram.org/bot\" + $env[\"TELEGRAM_BOT_TOKEN\"] + \"/sendMessage\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_chat_id, text: $json.text, disable_web_page_preview: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-telegram-reply",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        120
      ]
    }
  ],
  "connections": {
    "Telegram Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Telegram Secret + Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Telegram Secret + Normalize": {
      "main": [
        [
          {
            "node": "Call Shared RAG Bot Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared RAG Bot Core": {
      "main": [
        [
          {
            "node": "Build Telegram Send/State Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Send/State Action": {
      "main": [
        [
          {
            "node": "Needs Escalation Marker?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Escalation Marker?": {
      "main": [
        [
          {
            "node": "Mark Telegram Thread Escalated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Telegram Thread Escalated": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "telegram-rag-channel-adapter-v1",
  "triggerCount": 0,
  "tags": []
}
