workflows/whatsapp-rag-channel-adapter.json
{
  "name": "WhatsApp: RAG Channel Adapter",
  "nodes": [
    {
      "parameters": {
        "content": "# WhatsApp channel adapter\nReceives Meta WhatsApp Cloud API webhooks, verifies the setup challenge, normalizes inbound customer messages, then delegates all sales/RAG/memory logic to the shared Supabase-backed bot core.\n\nSecrets stay in `.env` / n8n environment variables:\n- WHATSAPP_ACCESS_TOKEN or WA_ACCESS_TOKEN\n- WHATSAPP_PHONE_NUMBER_ID\n- WHATSAPP_WEBHOOK_VERIFY_TOKEN or WHATSAPP_VERIFY_TOKEN\n- WHATSAPP_APP_SECRET (optional signature verification later)\n- INTERNAL_TEST_TOKEN\n\nProduction callback URL: {{$env[\"N8N_BASE_URL\"]}}/webhook/whatsapp-rag-webhook",
        "height": 380,
        "width": 520,
        "color": 5
      },
      "id": "whatsapp-adapter-note",
      "name": "README - WhatsApp Adapter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        -360
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-rag-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-verify-webhook",
      "name": "WhatsApp Verify Webhook (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -780,
        80
      ],
      "webhookId": "whatsapp-rag-verify"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst query = item.query || {};\nconst expected = $env.WHATSAPP_WEBHOOK_VERIFY_TOKEN || $env.WHATSAPP_VERIFY_TOKEN || $env.IG_WEBHOOK_VERIFY_TOKEN || '';\nconst mode = query['hub.mode'] || query.hub_mode || '';\nconst token = query['hub.verify_token'] || query.hub_verify_token || '';\nconst challenge = query['hub.challenge'] || query.hub_challenge || '';\nconst verified = mode === 'subscribe' && !!challenge && !!expected && token === expected;\n\nreturn [{\n  json: {\n    verified,\n    challenge: verified ? String(challenge) : '',\n    status_code: verified ? 200 : 403,\n    error: verified ? null : 'invalid_whatsapp_verify_token'\n  }\n}];"
      },
      "id": "verify-whatsapp-challenge",
      "name": "Verify WhatsApp Challenge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.challenge}}",
        "options": {
          "responseCode": "={{$json.status_code}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "respond-whatsapp-challenge",
      "name": "Respond WhatsApp Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -260,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-rag-webhook",
        "options": {
          "responseCode": 200
        }
      },
      "id": "whatsapp-inbound-webhook",
      "name": "WhatsApp Inbound Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -780,
        420
      ],
      "webhookId": "whatsapp-rag-inbound"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\nconst tenantId = $env.DEFAULT_TENANT_ID || $env.TENANT_ID || 'default';\nconst out = [];\n\nfunction textFromMessage(message) {\n  if (!message) return '';\n  if (message.text?.body) return String(message.text.body);\n  if (message.button?.text) return String(message.button.text);\n  if (message.interactive?.button_reply?.title) return String(message.interactive.button_reply.title);\n  if (message.interactive?.list_reply?.title) return String(message.interactive.list_reply.title);\n  if (message.image?.caption) return String(message.image.caption);\n  if (message.document?.caption) return String(message.document.caption);\n  if (message.audio) return '[Audio message received. Ask the customer to send text until transcription is enabled.]';\n  if (message.image) return '[Image message received. Ask a concise clarifying question if the image content is required.]';\n  if (message.document) return '[Document received. Ask what part of the document they want help with until document ingestion is enabled.]';\n  return '';\n}\n\nfor (const entry of body.entry || []) {\n  for (const change of entry.changes || []) {\n    const value = change.value || {};\n    const contactsByWaId = {};\n    for (const contact of value.contacts || []) {\n      if (contact.wa_id) contactsByWaId[contact.wa_id] = contact;\n    }\n\n    for (const message of value.messages || []) {\n      const from = message.from || '';\n      const text = textFromMessage(message).trim();\n      if (!from || !text) continue;\n\n      const contact = contactsByWaId[from] || {};\n      const displayName = contact.profile?.name || from;\n      const phoneNumberId = value.metadata?.phone_number_id || $env.WHATSAPP_PHONE_NUMBER_ID || $env.WA_PHONE_NUMBER_ID || '';\n\n      out.push({\n        json: {\n          tenant_id: tenantId,\n          channel: 'whatsapp',\n          thread_id: `whatsapp:${from}`,\n          sender_id: from,\n          sender_display_name: displayName,\n          sender_username: from,\n          message_text: text,\n          message_id: message.id || `${Date.now()}-${from}`,\n          message_type: message.type || 'unknown',\n          phone_number_id: phoneNumberId,\n          to: from,\n          raw_event: {\n            object: body.object || null,\n            entry_id: entry.id || null,\n            field: change.field || null,\n            message,\n            contact,\n            metadata: value.metadata || null\n          }\n        }\n      });\n    }\n  }\n}\n\nreturn out;"
      },
      "id": "normalize-whatsapp-message",
      "name": "Normalize WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env[\"N8N_BASE_URL\"] || \"\").replace(/\\/$/, \"\") + \"/webhook/internal-rag-test\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-test-token",
              "value": "={{$env[\"INTERNAL_TEST_TOKEN\"]}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tenant_id: $json.tenant_id, channel: $json.channel, thread_id: $json.thread_id, sender_id: $json.sender_id, sender_username: $json.sender_username, sender_display_name: $json.sender_display_name, message_text: $json.message_text, message_id: $json.message_id, raw_event: $json.raw_event } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-shared-rag-core-whatsapp",
      "name": "Call Shared RAG Bot Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const core = $input.first().json || {};\nlet source = {};\ntry { source = $('Normalize WhatsApp Message').first().json || {}; } catch (error) { source = {}; }\n\nconst status = core.status || 'unknown';\nconst response = String(core.response || core.answer || '').trim();\nconst shouldStaySilent = status === 'escalated_silent' || status === 'ignored' || core.silence === true || !response;\nif (shouldStaySilent) return [];\n\nconst maxLen = 3900;\nconst body = response.length > maxLen ? response.slice(0, maxLen - 20).trimEnd() + '…' : response;\nconst phoneNumberId = source.phone_number_id || $env.WHATSAPP_PHONE_NUMBER_ID || $env.WA_PHONE_NUMBER_ID || '';\nconst accessTokenPresent = !!($env.WHATSAPP_ACCESS_TOKEN || $env.WA_ACCESS_TOKEN);\n\nreturn [{\n  json: {\n    channel: 'whatsapp',\n    to: source.to || source.sender_id,\n    phone_number_id: phoneNumberId,\n    body,\n    core_status: status,\n    confidence: core.confidence ?? null,\n    requires_handoff: !!core.requires_handoff,\n    access_token_present: accessTokenPresent\n  }\n}];"
      },
      "id": "build-whatsapp-send-action",
      "name": "Build WhatsApp Send Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://graph.facebook.com/\" + ($env[\"META_GRAPH_VERSION\"] || \"v25.0\") + \"/\" + ($json.phone_number_id || $env[\"WHATSAPP_PHONE_NUMBER_ID\"] || $env[\"WA_PHONE_NUMBER_ID\"]) + \"/messages\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + ($env[\"WHATSAPP_ACCESS_TOKEN\"] || $env[\"WA_ACCESS_TOKEN\"] || \"\")}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: \"whatsapp\", recipient_type: \"individual\", to: $json.to, type: \"text\", text: { preview_url: false, body: $json.body } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "send-whatsapp-reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        420
      ]
    }
  ],
  "connections": {
    "WhatsApp Verify Webhook (GET)": {
      "main": [
        [
          {
            "node": "Verify WhatsApp Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify WhatsApp Challenge": {
      "main": [
        [
          {
            "node": "Respond WhatsApp Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Inbound Webhook (POST)": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Message": {
      "main": [
        [
          {
            "node": "Call Shared RAG Bot Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared RAG Bot Core": {
      "main": [
        [
          {
            "node": "Build WhatsApp Send Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WhatsApp Send Action": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T00:00:00.000Z",
  "versionId": null,
  "active": true
}
